<h1 class="couches__title">Our Hosts in <%= @city.name %></h1>

<div class="couches__wrap">
    <ul class="couches__list">
    <% @couches.each do |couch| %>
        <li class="couches__list-item">
            <%= image_tag('profile.jpg', class: 'couches__image') %>
            <div class="couches__content">
                <h2 class="couches__name"><%= link_to "#{couch.user.first_name}", couch_path(couch.id) %></h2>
                <p><%= couch.user.calculated_age %>, <%= couch.user.pronouns %></p>
                <ul class="couches__facilities">
                    <% couch.facilities.each do |facility| %>
                        <li><%= facility.name %></li>
                    <% end %>
                </ul>
            </div>
        </li>
    <% end %>
    </ul>
</div>