<article class="couch">
  <div class="couch__gallery">
    <% if @host.photo.key %>
      <%= cl_image_tag @host.photo.key, class: 'couch__image' %>
    <% else %>
      <%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1679925300/profile.jpg', class: 'couch__image') %>
    <% end %>
    <div class="couch__chat chat-icon__wrap">
      <% if current_user.subscribed? %>
        <% if @chat.nil? %>
          <%= button_to chats_path(user_sender_id: current_user.id, user_receiver_id: @host.id), method: :post do %>
            <i class="quouch-message color-secondary chat-icon" aria-label="Chat icon"></i>
          <% end %>
        <% else %>
          <%= link_to chat_path(@chat) do %>
            <i class="quouch-message color-secondary chat-icon" aria-label="Chat icon"></i>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to new_subscription_path do %>
          <i class="quouch-message color-secondary chat-icon" aria-label="Chat icon"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="couch__content">
    <ul class="couch__info">
      <li class="couch__name"><%= @host.first_name %></li>
      <div class="couch__characteristics">
        <li><%= @host.pronouns.downcase if @host.pronouns %></li>
        <% if @host.date_of_birth.present? && @host.calculated_age != 0 %>
          <li><%= @host.calculated_age %></li>
        <% end %>
      </div>
    </ul>
    <ul class="couch__offers offers">
      <% if @host.travelling %>
        <li class="offers-item">
          <i class="quouch-world color-primary" aria-label="World icon"></i>
          <p>currently travelling</p>
        </li>
      <% else %>
        <% if @host.offers_couch %>
          <li class="offers-item">
            <i class="quouch-sleep color-primary" aria-label="Sleep icon"></i>
            <p>host</p>
          </li>
        <% end %>
        <% if @host.offers_hang_out %>
          <li class="offers-item">
            <i class="quouch-hangout color-primary" aria-label="Hangout icon"></i>
            <p>hangout</p>
          </li>
        <% end %>
        <% if @host.offers_co_work %>
          <li class="offers-item">
            <i class="quouch-work color-primary" aria-label="Work icon"></i>
            <p>cowork</p>
          </li>
        <% end %>
      <% end %>
    </ul>
    <ul class="couch__features features">
      <% @host.characteristics.each do |characteristic| %>
        <li><%= characteristic.name %></li>
      <% end %>
    </ul>

    <div class="couch__intro">
      <% if !@host.summary.nil? %>
        <h2>Introduction</h2>
        <p><%= @host.summary %></p>
      <% end %>
    </div>

    <div class="couch__accommodation">
      <% if @host.offers_couch && !@host.couch.facilities.empty? %>
        <h2>Accommodation</h2>
        <ul class="couch__accommodation-list">
          <% @couch.facilities.each do |facility| %>
            <li>
              <i class="quouch-<%= facility.name.parameterize(separator: '-') %> color-black" aria-label="<%= facility.name %> icon"></i>
              <%= facility.name %>
            </li>
          <% end %>
          <% if !@couch.capacity.nil? %>
            <li class="couch__travellers">
              <i class="quouch-people color-black" aria-label="People icon"></i>
              <%= pluralize(@host.couch.capacity, 'guest') %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="couch__location">
      <% if !@host.country.nil? %>
        <h2>Location</h2>
        <div class="couch__pin">
          <i class="quouch-pin color-secondary" aria-label="Pin icon"></i>
          <% if @host.country == 'United Kingdom Of Great Britain and Northern Ireland' %>
            <p><%= @host.city %>, United Kingdom</p>
          <% else %>
            <p><%= @host.city %>, <%= @host.country %></p>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
  <div class="couch__questions">
    <% if !@host.question_one.blank? %>
      <h2>This makes me really happy</h2>
      <p><%= @host.question_one %></p>
    <% end %>
    <% if !@host.question_two.blank? %>
      <h2>What I can't stand</h2>
      <p><%= @host.question_two %></p>
    <% end %>
    <% if !@host.question_three.blank? %>
      <h2>What I need from the people around me</h2>
      <p><%= @host.question_three %></p>
    <% end %>
    <div class="couch__action">
      <% if @couch != current_user.couch %>
        <% if current_user.subscribed? %>
          <%= link_to 'Send Quouch request', new_couch_booking_path(@couch), class: 'couch__button' %>
        <% else %>
          <%= link_to 'Send Quouch request', new_subscription_path, class: 'couch__button' %>
        <% end %>
        <%= link_to "🚨 report #{@host.first_name}", report_contacts_path(couch: @couch), class: 'couch__report' %>
      <% end %>
    </div>
  </div>
  <div class="couch__reviews">
    <% if @reviews.any? %>
      <h2>Get a feeling for what it is like to spend time with <%= @host.first_name %></h2>
      <div class="review__rating">
        <i class="quouch-star color-secondary-light" aria-label="Start icon"></i>
        <p><%= sprintf("%.1f", @review_average).tr(".", ",") %> out of <%= pluralize @reviews.size, "Review" %></p>
      </div>
      <ul class="reviews">
        <% @reviews.each do |review| %>
          <li class="review review--card">
            <div class="review__details">
              <% if review.user.photo.key %>
                <%= cl_image_tag review.user.photo.key, class: 'review__image' %>
              <% else %>
                <%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1679925300/profile.jpg', class: 'review__image') %>
              <% end %>
              <div>
                <p class="review__name"><%= review.user.first_name.capitalize %></p>
                <p class="review__date"><%= review.created_at.strftime("%B, %Y") %></p>
              </div>
            </div>

            <% if review.booking %>
              <div class="review__type">
                <% if review.booking.host? %>
                  <i class="quouch-sleep color-primary" aria-label="Sleep icon"></i>
                  <p>host</p>
                <% elsif review.booking.hangout? %>
                  <i class="quouch-hangout color-primary" aria-label="Hangout icon"></i>
                  <p>hangout</p>
                <% elsif review.booking.cowork? %>
                  <i class="quouch-work color-primary" aria-label="Work icon"></i>
                  <p>cowork</p>
                <% end %>
              </div>
            <% end %>

            <div class="review__rating">
              <div class="review__stars">
                <% review.rating.round.times do %>
                  <i class="quouch-star-full color-tertiary" aria-label="Full star icon"></i>
                <% end %>
                <% (5 - review.rating).round.times do %>
                  <i class="quouch-star-empty color-tertiary" aria-label="Empty star icon"></i>
                <% end %>
              </div>
            </div>
            <p class="review__content"><%= review.content %></p>
          </li>
        <% end %>
      </ul>
    <% else %>
      <h2><%= @host.first_name.capitalize %> is still waiting for their first review.</h2>
      <div class="review__rating">
        <i class="quouch-star color-secondary-light"></i>
        <p><%= sprintf("%.1f", @review_average).tr(".", ",") %> out of <%= pluralize @reviews.size, "Review" %></p>
      </div>
    <% end %>
  </div>
</article>
