<h1><%= @user.first_name %></h1>

<p><%= @user.pronouns %></p>
<p><%= @user.calculated_age %></p>
<h2>About Me</h2>
<h3>The Small Talk</h3>
<p><%= @user.summary %></p>
<h3>This makes me really happy</h3>
<p><%= @user.question_one %></p>
<h3>What I need and like</h3>
<p><%= @user.question_two %></p>
<h3>What I can't stand</h3>
<p><%= @user.question_three %></p>
<h3>When you live at my place, I appreciate</h3>
<p><%= @user.question_four %></p>


<h2>offers</h2>
<ul>
	<% if @user.offers_couch %>
		<li>
			<%= image_tag('icons/sleep.svg') %>
			<p>couch</p>
		</li>
	<% end %>
	<% if @user.offers_hang_out %>
		<li>
			<%= image_tag('icons/hangout.svg') %>
			<p>hangout</p>
		</li>
	<% end %>
	<% if @user.offers_co_work %>
		<li>
			<%= image_tag('icons/work.svg') %>
			<p>co-work</p>
		</li>
	<% end %>
</ul>

<% if @user.offers_couch %>
	<h2>My Couch</h2>
	<p>My couch has space for <%= pluralize @user.couch.capacity, "guest" %><p>
	<ul>
		<% @user.couch.facilities.each do |facility| %>
			<% if facility.image.attached? %>
				<li>
					<%# <%= image_tag ('images/icons/armchair.svg') %>
					<%= facility.name %>
				</li>
			<% else %>
				<li>
					<%= facility.name %>
				</li>
			<% end %>
		<% end %>
	</ul>
<% end %>

<% if @reviews.any? %>
	<h2>Get a feeling for what it is like to spend time with <%= @user.first_name %></h2>
	<ul>
		<% @reviews.each do |review| %>
		<li>
			<ul>
				<li><%= review.user.first_name %></li>
				<li><%= review.booking.month %> <%= review.booking.year  %></li>
				<li><%= review.rating %></li>
				<li><%= review.content %></li>
			</ul>
		<% end %>
		</li>
	</ul>
<% end %>

<% if @chat.nil? %>
	<%= button_to "Chat with #{@user.first_name}", chats_path(user_sender_id: current_user.id, user_receiver_id: @user.id), method: :post %>
<% else %>
	<%= link_to "Chat with #{@user.first_name}", chat_path(@chat) %>
<% end %>
<%= link_to "Send #{@user.first_name} a concrete request", new_couch_booking_path(@couch.id) %>