<article class="couch">
	<div class="couch__gallery">
		<%= image_tag('profile.jpg', class: 'couch__image') %>
		<div class="couch__chat chat-icon__wrap">
			<% if @chat.nil? %>
				<%= button_to chats_path(user_sender_id: current_user.id, user_receiver_id: @host.id), method: :post do %>
					<%= image_tag('icons/message.svg', class: 'chat-icon') %>
				<% end %>
			<% else %>
				<%= link_to chat_path(@chat) do %>
					<%= image_tag('icons/message.svg', class: 'chat-icon') %>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="couch__content">
		<ul class="couch__info">
			<li class="couch__name"><%= @host.first_name %></li>
			<div class="couch__characteristics">
				<li><%= @host.pronouns %></li>
				<li><%= @host.calculated_age %></li>
			</div>
		</ul>
		<ul class="couch__offers offers">
			<% if @host.offers_couch %>
				<li class="offers-item">
					<%= image_tag('icons/sleep.svg') %>
					<p>couch</p>
				</li>
			<% end %>
			<% if @host.offers_hang_out %>
				<li class="offers-item">
					<%= image_tag('icons/hangout.svg') %>
					<p>hangout</p>
				</li>
			<% end %>
			<% if @host.offers_co_work %>
				<li class="offers-item">
					<%= image_tag('icons/work.svg') %>
					<p>co-work</p>
				</li>
			<% end %>
		</ul>
		<ul class="couch__features features">
			<% @host.characteristics.each  do |characteristic| %>
				<li><%= characteristic.name %></li>
			<% end %>
		</ul>
		
		<div class="couch__intro">
			<h2>Introduction</h2>
			<p><%= @host.summary %></p>
		</div>

		<div class="couch__accommodation">
			<h2>Accomodation</h2>
			<% if @host.offers_couch %>
				<ul class="couch__accommodation-list">
					<% @couch.facilities.each do |facility| %>
						<li>
							<%= image_tag(facility.image) %>
							<%= facility.name %>
						</li>
					<% end %>
				</ul>
			<% else %>
				<p>This host doesn't offer their couch currently.</p>
			<% end %>
		</div>

		<div class="couch__location">
			<h2>Location</h2>
			<div class="couch__pin">
				<%= image_tag ('icons/city.svg') %>
				<p><%= @couch.user.city.name %>, <%= @couch.user.city.country.name %></p>
			</div>
		</div>

	</div>
	<div class="couch__questions">
		<h2>This makes me really happy</h2>
		<p><%= @host.question_one %></p>
		<h2>What I can't stand</h2>
		<p><%= @host.question_two %></p>
		<h2>What I need from the people around me</h2>
		<p><%= @host.question_three %></p>
		<h2>What I otherwise need and like</h2>
		<p><%= @host.question_four %></p>
		<%= link_to "Send quouch request", new_couch_booking_path(@couch.id), class: 'couch__button' %>
	</div>
	<div class="couch__reviews">
		<% if @reviews.any? %>
		<h2>Get a feeling for what it is like to spend time with <%= @host.first_name %></h2>
		<div class="review__rating">
			<%= image_tag('icons/star.svg') %>
			<p><%= sprintf("%.1f", @review_average).tr(".", ",") %> out of <%= pluralize @reviews.size, "Review" %></p>
		</div>
		<ul class="reviews">
			<% @reviews.each do |review| %>
			<li class="review">
				<div class="review__details">
					<%= image_tag('profile.jpg', class: 'review__image') %>
					<div>
						<p class="review__name"><%= review.user.first_name.capitalize %></p>
						<p class="review__date"><%= review.created_at.strftime("%B, %Y") %></p>
					</div>
				</div>
				<div class="review__type">
					<% if review.booking.host? %>
						<%= image_tag('icons/sleep.svg') %>
						<p>couch</p>
					<% elsif review.booking.hangout? %>
						<%= image_tag('icons/hangout.svg') %>
						<p>hangout</p>
					<% elsif review.booking.cowork? %>
						<%= image_tag('icons/work.svg') %>
						<p>co-work</p>
					<% end %>
				</div>
				<div class="review__rating">
					<div class="review__stars">
						<% review.rating.round.times do %>
							<%= image_tag('icons/star-full.svg') %>
						<% end %>
						<% (5 - review.rating).round.times do %>
							<%= image_tag('icons/star-empty.svg') %>
						<% end %>
					</div>
				</div>
				<p class="review__content"><%= review.content %></p>
			</li>
				<% end %>
		</ul>
		<% end %>
	</div>
</article>

