<div id="message-<%= message.id %>" class="message">
  <%= render 'partials/user_photo', user: message.user %>
  <div>
    <small class="message-details">
      <strong><%= link_to message.user.first_name, couch_path(message.user.couch) %></strong>
      <i data-controller="timestamp" data-timestamp-time-value="<%= message.created_at.strftime('%Y-%m-%dT%H:%M') %>" data-timestamp-target="created"></i>
    </small>
    <p><%= message.content %></p>
  </div>
</div>
