<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Welcome to Quouch</title>
  </head>
  <body>
    <h1>Welcome to Quouch, <%= @user.first_name.capitalize %> 🧡💜</h1>

    <p>We are so proud about having you on board. Thank you for trusting us!</p>

    <p>It is our absolute priority and mission to create a world in which people of all genders and identities can live warmly accepted and fearlessly wherever they go. Now, you are part of this movement and we kindly ask you to respect the space, be aware of the <%= link_to 'guidelines', 'https://quouch-app.com/guidelines' %> and treat other users with the warmest curiosity.</p>

    <p>We are Nora, Lisbeth and Babken working all day from Berlin and Barcelona. We are absolutely approachable and if you have ideas, feedback or any other thoughts, please do not hesitate to <%= link_to 'reach out to us', 'https://forms.gle/mAiFEpxrw5PsbKD87' %>. You can use the form or also respond to this mail. Since August 1st, we are live with the website you currently see. So we are constantly improving Quouch, but since it's just us three so far, there might still be some little issues. You'd be supporting us a lot if you report them to us <%= link_to 'here', 'https://forms.gle/by6szdpGKtpfv6mD7' %>.</p>

    <p>At the moment, we are invite-only, have a filter system in place and do our absolute best to monitor who joins the platform. Still, we can never give ultimate assurance as to who is joining. Please always be cautious, read our safety section and <%= link_to 'tell us', 'https://forms.gle/mAiFEpxrw5PsbKD87' %> if anything seems to be off.</p>

    <p>Lots and lots of love to you and if you HAPPEN to be already meeting people through Quouch, it would be so amazing to hear <%= link_to 'how it went: as a guest', 'https://forms.gle/mAiFEpxrw5PsbKD87' %> and  <%= link_to 'as a host', 'https://forms.gle/AwrdCDawwWJ1VNvL9' %>. Please remember that, after signing up, you have <%= link_to 'your own invite code', 'https://quouch-app.com/invite-friend' %> which you can pass to other people that you trust. Like this, we can grow safely and sustainably together.

    <p>You will have to confirm your email address with us before you can get started. For this you will receive a separate email with a link to confirm your email address. Please check your spam folder if you don't see it in your inbox.</p>

    <p>Safe travels and warmest regards from Berlin,</p>
    <p>Yours,</p>
    <p>Nora, Lis and Babken</p>
  </body>
</html>

