<h1>User Stats Report</h1>
<h2>Total Users</h2>
<p><%= @total_users %></p>
<h2>Users per Country</h2>

<ol>
	<% @users_per_country.each do |country| %>
		<li>
			<%= country[0] %>: <%= country[1] %>
		</li>
	<% end %>
</ol>

<h2>Users per City</h2>
<ol>
	<% @users_per_city.each do |city| %>
		<li>
			<%= city[0] %>: <%= city[1] %>
		</li>
	<% end %>
</ol>

<h2>Reviews</h2>
<%= @amount_reviews %>
<h3>Reviews today</h3>
<%= @reviews_today %>
<h3>Review Average</h3>
<%= @review_average %>


<h2>Booking Stats</h2>
<p>Confirmed Bookings: <%= @confirmed_bookings %></p>
<p>Completed Bookings: <%= @completed_bookings %></p>
<p>Cancelled Bookings: <%= @cancelled_bookings %></p>
<h3>Bookings of today per type</h2>
<% @bookings_today.each do |booking| %>
	<p><%= booking[0] %>: <%= booking[1] %></p>
<% end %>


<h2>Subscription Stats</h2>
<p><%= @total_subscriptions %></p>

<h2>Message Response Rate</h2>
<p><%= @response_rate %></p>

<h2>Booking Response Rate</h2>
<p><%= @booking_response_rate %></p>

<h2>Booking Confirmation Rate</h2>
<p><%= @booking_confirmation_rate %></p>
<p>10 Requests Rate: <%= @booking_confirmation_rate_ten_requests %>
<p>Subscription Success Rate: <%= @subscription_success_rate %>
