<section class="review-form">
	<% if @host == current_user %>
		<h2>Let <%= @booking.user.first_name %> & us know about your experience!</h2>
	<% else %>
		<h2>Let <%= @host.first_name %> & us know about your experience!</h2>
	<% end %>

	<%= simple_form_for [@couch, @booking, @review] do |f| %>
		<% if @booking.errors.any? %>
			<h2>Error:</h2>
				<ul>
					<% @booking.errors.full_messages.each do |error| %>
						<li><%= error %></li>
					<% end %>
				</ul>
		<% end %>
		<div class="review-form__action">
			<%= f.input :rating,
								  collection: (1..5).to_a,
								  label: false,
									error: false,
								  input_html: {data: {controller: "star-rating"}} %>
			<%= f.error :rating, class: 'form-error form-error-rating' %>
			<%= f.label 'Leave some words' %>
			<%= f.input :content, 
								  label: false,
									error: false,
								  input_html: { rows: 6 } %>
			<%= f.error :content, class: 'form-error' %>
			<%= f.submit "Submit Review", class: "review-form__button" %>
		</div>
	<% end %>
</section>
