<section class="review-form">
	<h2>Let <%= @host.first_name %> & us know about your experience!</h2>

	<%= simple_form_for [@couch, @booking, @review] do |f| %>
		<% if @booking.errors.any? %>
			<h2>Error:</h2>
				<ul>
					<% @booking.errors.full_messages.each do |error| %>
						<li><%= error %></li>
					<% end %>
				</ul>
		<% end %>
		<div class="review-form__action">
			<%= f.input :content, 
								label: false %>
			<%= f.input :rating,
								collection: 1..5,
								label: false %>
			<%= f.submit "Submit Review", class: "review-form__button" %>
		</div>
	<% end %>
</section>
