<div class="booking-form__wrap">
	<%= render 'host' %>

	<section class="booking-form">
		<%= simple_form_for [@couch, @booking],
				data: { controller: 'flatpickr' }, 
				defaults: { required: false } do |f| %>
			<% if @booking.errors.any? %>
				<h2>Error:</h2>
					<ul>
						<% @booking.errors.full_messages.each do |error| %>
							<li><%= error %></li>
						<% end %>
					</ul>
			<% end %>
			<div class="booking-form__type">
				<%= f.label :pick_one, required: true %>
				<%= f.input :request,
										collection: @offers.keys,
										as: :radio_buttons,
										label: false,
										value: @booking.request,
										input_html: { value: @booking.request } %>
			</div>
			<div class="booking-form__details__wrap">
				<%= f.label :dates_and_travellers, required: true %>
				<div class="booking-form__dates date">
					<div class="date-input">
						<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1680005859/calendar.svg') %>
						<%= f.input :start_date,
												as: :string,
												placeholder: 'from',
												input_html: { data: { flatpickr_target: 'startTime' } },
												label: false %>
					</div>
					<div class="date-input">
						<%= f.input :end_date,
												as: :string,
												placeholder: 'to',
												input_html: { data: { flatpickr_target: 'endTime' } },
												label: false %>
					</div>
				</div>
				<div class="booking-form__travellers">
					<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1680005865/people.svg') %>
					<%= f.input :number_travellers, 
											label: false,
											input_html: { value: @booking.number_travellers } %>
				</div>
			</div>
			<%= f.input :message, 
									label: :Message,
									required: true,
									input_html: { rows: 4 } %>
			<div class="booking-form__action booking-form__action--edit">
				<%= f.submit 'Send updated request', class: 'booking-form__button' %>
			</div>
		<% end %>
			<div data-controller="confirm-alert">
				<button class="booking__decline" data-confirm-alert-target="cancel" data-action="click->confirm-alert#displayConfirmAlert" type="button">Cancel Booking</button>
				<%= button_to '', cancel_booking_path(@booking), method: :delete, class: 'display-none', data: { confirm_alert_target: 'action', action: 'click->confirm-alert#displayConfirmAlert' } %>
			</div>
	</section>
</div>
