<h1> My Bookings </h1>

<% if @bookings.any? %>
	<% @bookings.each do |booking| %>
		<% if booking.pending? %>
			<ul>
				<li><%= booking.couch.user.first_name %></li>
				<li><%= booking.couch.user.city.name %></li>
				<li><%= booking.status %></li>
				<li><%= booking.start_date %> - <%= booking.end_date %></li>
				<li><%= booking.number_travellers %></li>
				<li><%= link_to 'See Details', booking_path(booking) %></li>
			</ul>
		<% elsif booking.confirmed? %>
			<ul>
				<li><%= booking.couch.user.first_name %></li>
				<li><%= booking.couch.user.city.name %></li>
				<li><%= booking.status %></li>
				<li><%= booking.start_date %> - <%= booking.end_date %></li>
				<li><%= booking.number_travellers %></li>
				<li><%= link_to 'See Details', booking_path(booking) %></li>
				<li><%= link_to 'Pay now & get access to address', pay_booking_path(booking) %></li>
			</ul>
		<% elsif booking.pending_reconfirmation? %>
			<ul>
				<li><%= booking.couch.user.first_name %></li>
				<li><%= booking.couch.user.city.name %></li>
				<li><%= booking.status %></li>
				<li><%= booking.start_date %> - <%= booking.end_date %></li>
				<li><%= booking.number_travellers %></li>
				<li><%= link_to 'See Details', booking_path(booking) %></li>
			</ul>
		<% elsif booking.declined? %>
			<ul>
				<li><%= booking.couch.user.first_name %></li>
				<li><%= booking.couch.user.city.name %></li>
				<li><%= booking.status %></li>
				<li>Booking has been declined - sorry!</li>
				<li><%= booking.start_date %> - <%= booking.end_date %></li>
				<li><%= booking.number_travellers %></li>
				<li><%= link_to 'Browse other couches' %>
			</ul>
		<% elsif booking.cancelled? %>
			<ul>
				<li><%= booking.couch.user.first_name %></li>
				<li><%= booking.couch.user.city.name %></li>
				<li><%= booking.status %></li>
				<li>This booking has been cancelled on <%= booking.cancellation_date %>.</li>
				<li><%= booking.start_date %> - <%= booking.end_date %></li>
				<li><%= booking.number_travellers %></li>
				<li><%= link_to 'Browse other couches' %>
			</ul>
		<% elsif booking.completed? %>
			<ul>
				<li><%= booking.couch.user.first_name %></li>
				<li><%= booking.couch.user.city.name %></li>
				<li><%= booking.status %></li>
				<li>You were hosted by <%= booking.couch.user.first_name %>.</li>
				<li><%= booking.start_date %> - <%= booking.end_date %></li>
				<li><%= booking.number_travellers %></li>
				<% if booking.review.nil? %>
					<li><%= link_to "Leave #{booking.couch.user.first_name} a review", new_couch_booking_review_path(booking.couch, booking) %>
				<% end %>
			</ul>
		<% end %>
	<% end %>
<% else %>
	<p>We couldn't find any bookings in your system yet - plan your trip now!</p>
<% end %>
