
<section class="bookings">
	<h1>Trips</h1>
	<div class="bookings__wrap">
	<% if @bookings.any? %>
		<% if @upcoming.any? %>
			<h2 class="bookings__title">Upcoming Trips</h2>
			<ul class="upcoming-bookings">
				<% @upcoming.each do |booking| %>
					<%= link_to booking_path(booking) do %>
						<li>
							<ul class="upcoming-booking">
								<%= image_tag('profile.jpg', class: 'upcoming-booking__profile') %>
								<div class="upcoming-booking__wrap">
									<div class="upcoming-booking__info">
										<li class="upcoming-booking__host">
											<%= booking.couch.user.first_name %>
										</li>
										<li class="upcoming-booking__city">
											<%= booking.couch.user.city.name %>
										</li>
									</div>
									<div class="upcoming-booking__details">
										<li class="upcoming-booking__detail">
											<%= image_tag('icons/calendar.svg') %>
											<%= booking.start_date.strftime("%B %d") %> - <%= booking.end_date.strftime("%B %d, %Y") %>
										</li>
										<li class="upcoming-booking__detail">
											<%= image_tag('icons/home.svg') %>
											<%= booking.status.capitalize %>
										</li>
										<li class="upcoming-booking__detail">
											<%= image_tag('icons/euro.svg') %>
											<% if booking.payments.where(status: 1).any? %>
												<%= 'Booking has been paid.' %>
											<% elsif booking.payments.where(status: 1).empty? && booking.confirmed? %>
												<%= 'Waiting for payment.' %>
											<% elsif booking.pending? || booking.pending_reconfirmation? %>
												<%= 'Waiting for the host to confirm.' %>
											<% end %>
										</li>
										<li class="upcoming-booking__detail">
											<%= image_tag('icons/people.svg') %>
											<%= pluralize booking.number_travellers, "Traveller" %>
										</li>
									</div>
								</div>
							</ul>
						</li>
					<% end %>
				<% end %>
			</ul>
		<% end %>

		<% if @completed.any? %>
		<h2 class="bookings__title">Past Trips</h2>
		<ul class="past-bookings">
			<% @completed.each do |booking| %>
				<li>
					<ul class="past-booking">
						<li class="past-booking__profile">
							<%= image_tag('profile.jpg') %>
						</li>
						<div class="past-booking__wrap">
							<li class="past-booking__host">
								<%= booking.couch.user.first_name %>
							</li>
							<li class="past-booking__city">
								<%= booking.couch.user.city.name %>
							</li>
							<li class="past-booking__detail">
								<%= image_tag('icons/calendar.svg') %>
								<%= booking.start_date.strftime("%B, %Y") %>
							</li>
							<% if booking.reviews.find_by(user: booking.user).nil? %>
							<li class="past-booking__link">
								<%= link_to "See Details & Leave Review", booking_path(booking) %>
							</li>
							<% else %>
							<li class="past-booking__link">
								<%= link_to "See Details", booking_path(booking) %>
							</li>
							<% end %>
						</div>
					</ul>
				</li>
			<% end %>
		</ul>
		<% end %>

		<% if @cancelled.any? %>
		<h2 class="bookings__title">Declined Trips</h2>
		<ul class="past-bookings">
			<% @cancelled.each do |booking| %>
				<%= link_to booking_path(booking) do %>
					<li>
						<ul class="past-booking">
							<li class="past-booking__profile">
								<%= image_tag('profile.jpg') %>
							</li>
							<div class="past-booking__wrap">
								<li class="past-booking__host">
									<%= booking.couch.user.first_name %>
								</li>
								<li class="past-booking__city">
									<%= booking.couch.user.city.name %>
								</li>
								<li class="past-booking__detail">
									<%= image_tag('icons/calendar.svg') %>
									<%= booking.start_date.strftime("%B, %Y") %>
								</li>
								<li class="past-booking__note">Request has been declined.</li>
							</div>
						</ul>
					</li>
				<% end %>
			<% end %>
		</ul>
		<% end %>
	<% else %>
		<p>We couldn't find any bookings in your system yet - plan your trip now!</p>
	<% end %>
	</div>
</section>