<div class="booking-form__wrap">
	<%= render 'host' %>
	<section class="booking-form" data-controller="validate-form">
		<%= simple_form_for [@couch, @booking],
				data: { controller: 'flatpickr' },
				defaults: { required: false } do |f| %>

			<div class="booking-form__type">
				<%= f.label :request, required: true %>
        <div class="booking_request">
					<% if @host.travelling %>
						<p>This user is currently on the road and does not receive requests!</p>
					<% else %>
						<%= collection_radio_buttons(:booking, :request, @offers.to_a, :first, :first, checked: @offers.to_a.first )  do |b|%>
							<div>
								<%= b.radio_button %>
								<%= b.label %>
							</div>
						<% end %>
					<% end %>
        </div>
			</div>
			<div class="booking-form__details__wrap" data-controller="skip-booking-date-validation">
			<%= f.label :dates_and_travellers, required: true %>
				<%= f.input :flexible,
										label: 'flexible travel dates',
										wrapper_html: { class: 'booking-form__flexible' },
										input_html: { data: { skip_booking_date_validation_target: 'checkbox',
																					validate_form_target: 'flexible',
                                          action: 'click->skip-booking-date-validation#hideFields change->validate-form#enableButton' }} %>
				<div class="booking-form__dates date" data-skip-booking-date-validation-target="date">
					<div class="date-input">
						<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1680005859/calendar.svg', alt: 'Calendar icon') %>
						<%= f.input :start_date,
												as: :string,
												error: false,
												placeholder: 'from',
												input_html: { data: { flatpickr_target: 'startTime',
                                              validate_form_target: 'start',
                                              action: 'change->validate-form#enableButton change->flatpickr#updateEnd'} },
												label: false %>
					</div>
					<div class="date-input">
						<%= f.input :end_date,
												as: :string,
												placeholder: 'to',
												input_html: { data: { flatpickr_target: 'endTime', validate_form_target: 'end', action: 'change->validate-form#enableButton' } },
												label: false %>
					</div>
				</div>
				<%= f.error 	:start_date, class: 'form-error form-error-booking' %>
				<div class="booking-form__travellers">
					<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1680005865/people.svg', alt: 'People icon') %>
					<%= f.input :number_travellers,
											label: false,
											error: false,
											input_html: { value: 1 } %>
				</div>
				<%= f.error 	:number_travellers, class: 'form-error' %>
			</div>
			<%= f.input :message,
									label: :Message,
									required: true,
									error: false,
									input_html: { rows: 4, data: { validate_form_target: 'message', action: 'blur->validate-form#enableButton'} } %>
			<%= f.error :message, class: 'form-error' %>
      <div class="booking-form__action">
				<%= f.submit 'Send Request', class: 'booking-form__button', disabled: true, data: { validate_form_target: 'button'} %>
			</div>
		<% end %>
	</section>
</div>
