<div class="booking-form__wrap">
	<%= render 'host' %>

	<section class="booking-form">
		<%= simple_form_for [@couch, @booking],
				data: { controller: 'flatpickr' }, 
				defaults: { required: false } do |f| %>
			<% if @booking.errors.any? %>
				<h2>Error:</h2>
					<ul>
						<% @booking.errors.full_messages.each do |error| %>
							<li><%= error %></li>
						<% end %>
					</ul>
			<% end %>
			<div class="booking-form__type">
				<label>Pick one</label>
				<%= f.input :request,
										as: :radio_buttons,
										label: false,
										collection: @offers.keys if @offers %>
			</div>
			<span class="booking-form__details__header">Dates & Travellers</span>
			<div class="booking-form__details__wrap">
				<div class="booking-form__dates date">
					<div class="date-input">
						<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1680005859/calendar.svg') %>
						<%= f.input :start_date,
												as: :string,
												placeholder: 'from',
												input_html: { data: { flatpickr_target: 'startTime' } },
												label: false %>
					</div>
					<div class="date-input">
						<%= f.input :end_date,
												as: :string,
												placeholder: 'to',
												input_html: { data: { flatpickr_target: 'endTime' } },
												label: false %>
					</div>
				</div>
				<div class="booking-form__travellers">
					<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1680005865/people.svg') %>
					<%= f.input :number_travellers, 
											label: false,
											input_html: { value: 1 } %>
				</div>
			</div>
			<%= f.input :message, 
									label: :Message,
									input_html: { rows: 4 } %>
			<div class="booking-form__action">
				<%= f.submit 'Send Request', class: 'booking-form__button' %>
			</div>
		<% end %>
	</section>
</div>
