<h1> My Requests </h1>

<% @requests.each do |request| %>
	<ul>
		<li><%= request.user.first_name %></li>
		<li><%= request.status %></li>
		<li><%= request.start_date %> - <%= request.end_date %></li>
		<li><%= request.number_travellers %></li>
		<li><%= link_to 'See Details', request_booking_path(request) %>
	</ul>
<% end %>