<h1 class="sent__title">Your request has been sent!</h1>

<section class="sent">
	<article class="sent__booking">
		<div class="sent__details">
			<h2>Host</h2>
			<h3 class="sent__host">
				<%= @couch.user.first_name %>, <%= @couch.user.calculated_age %>
				<span><%= @couch.user.pronouns %></span>
			</h3>
			<h2>Travel Details</h2>
			<ul class="sent__details-list">
				<li>
					<%= image_tag('icons/calendar.svg') %>
					<%= @booking.start_date.strftime("%B %d") %> - <%= @booking.end_date.strftime("%B %d, %Y") %>
				</li>
				<li>
					<%= image_tag('icons/people.svg') %>
					<%= pluralize @booking.number_travellers, "Traveller" %>
				</li>
			</ul>
		</div>
		<div class="sent__accomodation">
			<h2>Accomodation</h2>
			<ul class="sent__accomodation-list">
				<% @couch.facilities.each do |facility| %>
					<% if facility.image.attached? %>
						<li>
							<%= image_tag ('icons/armchair.svg') %>
							<%= facility.name %>
						</li>
					<% else %>
						<li>
							<%= facility.name %>
						</li>
					<% end %>
				<% end %>
			</ul>
		</div>
	</article>
	<div class="sent__message">
		<p >Now it is up to <%= @host.first_name %> to check the dates and your message. Once <%= @host.pronouns.split("/").first %> accepted your request, you are able to chat with <%= @host.pronouns.split("/").second %> and get in touch about open questions and things and bananas.<p>
		<%= link_to "Keep Browsing", cities_path, class: 'sent__link' %>
	</div>
</section>