<section class="sent">
  <h1 class="sent__title">Your request has been sent!</h1>
  <div class="sent__wrap">
    <article class="sent__booking">
      <div class="sent__details">
        <h2>Host</h2>
        <h3 class="sent__host">
          <%= @host.first_name %>
          <span><%= @host.pronouns.downcase if @host.pronouns %></span>
        </h3>
        <h2>Travel Details</h2>
        <ul class="sent__details-list">
          <li>
            <% if @booking.host? %>
              <i class="quouch-sleep color-secondary" aria-label="Sleep icon"></i>
              <p>Host</p>
            <% elsif @booking.hangout? %>
              <i class="quouch-hangout color-secondary" aria-label="Hangout icon"></i>
              <p>Hangout</p>
            <% elsif @booking.cowork? %>
              <i class="quouch-work color-secondary" aria-label="Work icon"></i>
              <p>Cowork</p>
            <% end %>
          </li>
          <% if @booking.start_date && @booking.end_date %>
            <li>
              <i class="quouch-calendar color-secondary" aria-label="Calendar icon"></i>
              <%= @booking.start_date.strftime("%b %d") %> - <%= @booking.end_date.strftime("%b %d, %Y") %>
            </li>
          <% end %>
          <% if @booking.flexible %>
            <li>
              <i class="fa-solid fa-calendar-plus color-secondary" aria-label="Calendar Plus icon"></i>
              <p>Flexible Dates</p>
            </li>
          <% end %>
          <li>
            <i class="quouch-people color-secondary" aria-label="People icon"></i>
            <%= pluralize @booking.number_travellers, 'Traveller' %>
          </li>
        </ul>
      </div>
      <% if @booking.host? && !@host.couch.facilities.empty? %>
        <div class="sent__accommodation">
          <h2>Accommodation</h2>
          <ul class="sent__accommodation-list">
            <% @couch.facilities.each do |facility| %>
              <li>
                <i class="quouch-<%= facility.name.parameterize(separator: '-') %> color-black" aria-label="<%= facility.name %> icon"></i>
                <%= facility.name %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </article>
    <div class="sent__message">
      <p>Now it is up to <%= @host.first_name %> to check the dates and your message. Once <%= @host.pronouns.downcase.split("/").first if @host.pronouns %> accepted your request, you are able to chat with <%= @host.pronouns.downcase.split("/").second if @host.pronouns %> and get in touch about open questions and things and bananas.
      </p>
      <%= link_to 'Chat with host', root_path, class: 'sent__link sent__link--primary' %>
      <%= link_to 'Or keep browsing couches', root_path, class: 'sent__link sent__link--secondary' %>
    </div>
  </div>
</section>
