<h1>Booking Overview</h1>

<h2>Your Host</h2>
<h3><%= @booking.couch.user.first_name %>, <%= @booking.couch.user.calculated_age %></h3>
<p><%= @booking.couch.user.pronouns %></p>
<p><%= @booking.couch.user.city.name %></p>

<h3>Travel Details</h3>
<ul>
	<li>
		Booking Status: <%= @booking.status %>
	</li>
	<li>
		Travel Period: <%= @booking.start_date %> - <%= @booking.end_date %>
	</li>
	<li>
		Booking Date: <%= @booking.booking_date %>
	</li>
	<li>
		Travellers: <%= @booking.number_travellers %>
	</li>
	<li>
		Message: <%= @booking.message %>
	</li>
</ul>

<h3>Accomodation</h3>
<ul>
	<% @booking.couch.facilities.each do |facility| %>
		<% if facility.image.attached? %>
			<li>
				<%# <%= image_tag ('images/icons/armchair.svg') %>
				<%= facility.name %>
			</li>
		<% else %>
			<li>
				<%= facility.name %>
			</li>
		<% end %>
	<% end %>
</ul>

<% if @booking.status == 'pending' %>
	<%= link_to 'Update Request', edit_booking_path(@booking) %>
	<%= button_to 'Cancel Request', cancel_booking_path(@booking), method: :patch %>
<% elsif @booking.status ==  'confirmed' %>
	<%= link_to 'Pay now & Get access to your hosts address', new_booking_payment(@booking) %>
	<%= link_to 'Update Booking', edit_booking_path(@booking) %>
	<%= button_to 'Cancel Booking', cancel_booking_path(@booking), method: :patch %>
<% end %>
