<h1>Booking Overview</h1>

<section class="booking">
	<article class="booking__host">
		<div class="booking__host-left">
			<h2>Your Guest</h2>
			<%= link_to couch_path(@couch) do %>
				<%= image_tag('profile.jpg', class: 'booking__host-image') %>
			<% end %>
		</div>
		<div class="booking__host-right">
			<h3 class="booking__host-name">
				<%= @couch.user.first_name %>, <%= @couch.user.calculated_age %>
				<span><%= @couch.user.pronouns %></span>
			</h3>
			<% if @booking.pending? || @booking.pending_reconfirmation? %>
				<%= link_to 'Update Request', edit_booking_path(@booking) %>
				<%= button_to 'Cancel Request', cancel_booking_path(@booking), method: :patch %>
			<% elsif @booking.confirmed? && @booking.payments.empty? %>
				<%= link_to 'Change Booking', edit_booking_path(@booking) %>
				<%= link_to 'Pay now & Get access to your hosts address', pay_booking_path(@booking) %>
			<% elsif @booking.confirmed? %>
				<%= link_to 'Update Booking', edit_booking_path(@booking) %>
				<%= button_to 'Cancel Booking', cancel_booking_path(@booking), method: :patch %>
			<% end %>
		</div>
	</article>

	<div class="booking__wrap">
		<article class="booking__info">
			<div class="booking__details">
				<h2>Travel Details</h2>
				<ul class="booking__details-list">
					<li>
						<%= image_tag('icons/calendar.svg') %>
						<%= @booking.start_date.strftime("%B %d") %> - <%= @booking.end_date.strftime("%B %d, %Y") %>
					</li>
					<li>
						<%= image_tag('icons/home.svg') %>
						<%= @booking.status.capitalize %>
					</li>
					<li>
						<%= image_tag('icons/money.svg') %>
						<% if @booking.payments.where(status: 1) %>
							<%= 'Booking has been paid.' %>
								<% else %>
							<%= 'Awaiting payment to give access to address.' %>
						<% end %>
					</li>
					<li>
						<%= image_tag('icons/people.svg') %>
						<%= @booking.number_travellers %> Travellers
					</li>
				</ul>
			</div>

			<div class="booking__accomodation">
				<h2>Accomodation</h2>
				<ul class="booking__accomodation-list">
					<% @couch.facilities.each do |facility| %>
						<% if facility.image.attached? %>
							<li>
								<%= image_tag ('icons/armchair.svg') %>
								<%= facility.name %>
							</li>
						<% else %>
							<li>
								<%= facility.name %>
							</li>
						<% end %>
					<% end %>
				</ul>
			</div>
		</article>

		<article class="booking__location">
			<div>
				<h2>Location</h2>
				<ul class="booking__address">
					<li class="booking__pin">
						<%= image_tag ('icons/city.svg') %>
						<p><%= @couch.user.city.name %></p>
					</li>
					<li class="booking__pin">
						<%= image_tag ('icons/pin.svg') %>
						<% if @payment.any? %>
							<%= @couch.user.address %></p>
						<% else %>
							<p>Pay now to get access to your hosts address!</p>
						<% end %>
					</li>
				</ul>
			</div>
			<div class="booking__map"></div>
		</article>

		<% if @booking.completed? && @booking.review.nil? %>
			<%= render 'partials/new-review' %>
		<% elsif @booking.completed? && !@booking.review.nil? %>
			<%= render 'partials/review' %>
		<% end %>
	</div>
</section>