<section class="booking-section">
  <h1>Booking Overview</h1>
  <div class="booking">
    <article class="booking__host">
      <div class="booking__host-left">
        <h2>Your Host</h2>
        <%= link_to couch_path(@couch) do %>
          <%= render 'partials/user_photo', user: @couch.user %>
        <% end %>
      </div>
      <div class="booking__host-right">
        <h3 class="booking__host-name">
          <%= @couch.user.first_name %>
          <span><%= @couch.user.pronouns.downcase if @couch.user.pronouns %></span>
        </h3>
        <div class="request__chat chat-icon__wrap">
          <% if current_user.subscribed? %>
            <% if @chat.nil? %>
              <%= button_to chats_path(user_sender_id: current_user.id, user_receiver_id: @host.id), method: :post do %>
                <i class="quouch-message color-secondary" aria-label="Message icon"></i>
              <% end %>
            <% else %>
              <%= link_to chat_path(@chat) do %>
                <i class="quouch-message color-secondary" aria-label="Message icon"></i>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to new_subscription_path do %>
              <i class="quouch-message color-secondary" aria-label="Message icon"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </article>
    <div class="booking__wrap">
      <article class="booking__info">
        <div class="booking__details">
          <h2>Travel Details</h2>
          <ul class="booking__details-list">
            <li class="request">
              <% if @booking.host? %>
                <i class="quouch-sleep color-secondary" aria-label="Sleep icon"></i>
                <p>Host</p>
              <% elsif @booking.hangout? %>
                <i class="quouch-hangout color-secondary" aria-label="Hangout icon"></i>
                <p>Hangout</p>
              <% elsif @booking.cowork? %>
                <i class="quouch-work color-secondary" aria-label="Work icon"></i>
                <p>Cowork</p>
              <% end %>
            </li>
            <li>
              <i class="quouch-calendar color-secondary" aria-label="Calendar icon"></i>
                <%= @booking.start_date.strftime("%b %d") %> - <%= @booking.end_date.strftime("%b %d, %Y") %>
            </li>
            <li>
              <% if @booking.flexible %>
                <i class="quouch-calendar color-secondary" aria-label="Calendar icon"></i>
                <p>Flexible Dates</p>
              <% end %>
            </li>
            <li class="status">
              <i class="quouch-home color-secondary" aria-label="Home icon"></i>
              <%= @booking.status.capitalize %>
            </li>
            <li>
              <i class="quouch-people color-secondary" aria-label="People icon"></i>
              <%= pluralize @booking.number_travellers, 'Traveller' %>
            </li>
          </ul>
        </div>
        <% if @booking.host? && !@host.couch.facilities.empty? %>
          <div class="booking__accommodation">
            <h2>Accommodation</h2>
            <ul class="booking__accommodation-list">
              <% @couch.facilities.each do |facility| %>
                <li>
                  <i class="quouch-<%= facility.name.parameterize(separator: '-') %> color-black" aria-label="<%= facility.name %> icon"></i>
                  <%= facility.name %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <% if @host.passion.present? %>
          <div class="booking__passion">
            <h2>A bird told us <%= @host.first_name.capitalize %> likes..</h2>
            <p>💜 <%= @host.passion %></p>
            <p>You could show your gratitude by surprising them with a little gift related to their passion! No need to follow through with this, it is just a little inspiration.</p>
          </div>
        <% end %>
      </article>
      <% if @booking.host? %>
        <article class="booking__location">
          <h2>Location</h2>
          <ul class="booking__address">
            <% if @booking.pending? || @booking.pending_reconfirmation? %>
              <li class="booking__pin">
                <i class="quouch-pin color-secondary" aria-label="Pin icon"></i>
                <% if @couch.user.country == 'United Kingdom Of Great Britain and Northern Ireland' %>
                  <p><%= @couch.user.city %>, United Kingdom</p>
                <% else %>
                  <p><%= @couch.user.city %>, <%= @couch.user.country %></p>
                <% end %>
              </li>
            <% elsif @booking.completed? %>
              <li class="booking__pin">
                <i class="quouch-pin color-secondary" aria-label="Pin icon"></i>
                <p><%= @couch.user.address %></p>
              </li>
            <% elsif @booking.confirmed? && @hosts_array.geocoded.any? %>
              <div data-controller="map"
                   data-map-fuzzy-value="false"
                   data-map-api-key-value="<%= Rails.application.credentials.dig(:mapbox, :api_key) %>"
                   data-map-marker-value="<%= @marker.to_json %>">
                <div class="booking__map" data-map-target="map"></div>
              </div>
            <% elsif @booking.confirmed? && @hosts_array.geocoded.empty? %>
              <li class="booking__pin">
                <i class="quouch-pin color-secondary" aria-label="Pin icon"></i>
                <p>This user has not provided their address yet, please contact them directly.</p>
              </li>
            <% end %>
          </ul>
        </article>
      <% end %>
      <div class="booking__links" data-controller="confirm-alert">
        <% if @booking.pending? || @booking.pending_reconfirmation? %>
          <%= link_to 'Update Request', edit_booking_path(@booking), class: 'booking__update' %>
          <button class="booking__decline"
                  data-confirm-alert-target="cancel" data-action="click->confirm-alert#displayCancelAlert"
            data-confirm-title="Confirm"
            data-confirm-text="Are you sure you want to cancel this booking?"
            data-confirm-buttons='["No, go back", "Yes, cancel"]'>Cancel Request
          </button>
          <%= button_to '', cancel_booking_path(@booking), method: :delete, class: 'display-none', data: { confirm_alert_target: 'action' } %>
        <% elsif @booking.host? && @booking.confirmed? %>
          <%= link_to 'Change Booking', edit_booking_path(@booking), class: 'booking__update' %>
          <% if @booking.flexible %>
            <%= button_to 'Complete Booking', complete_booking_path(@booking), method: :patch, class: 'booking__complete' %>
          <% end %>
        <% elsif @booking.confirmed? %>
          <%= link_to 'Update Booking', edit_booking_path(@booking), class: 'booking__update' %>
          <button class="booking__decline"
                  data-confirm-alert-target="cancel" data-action="click->confirm-alert#displayCancelAlert"
            data-confirm-title="Confirm"
            data-confirm-text="Are you sure you want to cancel this booking?"
            data-confirm-buttons='["No, go back", "Yes, cancel"]'>Cancel Request
          </button>
          <%= button_to '', cancel_booking_path(@booking), method: :delete, class: 'display-none', data: { confirm_alert_target: 'action', action: 'click->confirm-alert#displayCancelAlert' } %>
        <% end %>
      </div>
      <% if @host == current_user %>
        <% if @host_review.nil? %>
          <%= render 'partials/new-review' %>
        <% elsif !@host_review.nil? %>
          <%= render 'partials/review-preview' %>
        <% end %>
      <% elsif @guest == current_user %>
        <% if @guest_review.nil? %>
          <%= render 'partials/new-review' %>
        <% elsif !@guest_review.nil? %>
          <%= render 'partials/review-preview' %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
