<section class="booking-section">
<h1>Guest Overview</h1>
	<div class="booking">
		<article class="booking__host">
		<div class="booking__host-left">
			<h2>Your Guest</h2>
			<%= link_to couch_path(@couch) do %>
				<%= image_tag('profile.jpg', class: 'booking__host-image') %>
			<% end %>
		</div>
		<div class="booking__host-right">
			<h3 class="booking__host-name">
				<%= @booking.user.first_name %>, <%= @booking.user.calculated_age %>
				<span><%= @booking.user.pronouns %></span>
			</h3>
			<div class="booking__chat chat-icon__wrap">
				<% if @chat.nil? %>
					<%= button_to chats_path(user_sender_id: current_user.id, user_receiver_id: @host.id), method: :post do %>
						<%= image_tag('icons/message.svg', class: 'chat-icon') %>
					<% end %>
				<% else %>
					<%= link_to chat_path(@chat) do %>
						<%= image_tag('icons/message.svg', class: 'chat-icon') %>
					<% end %>
				<% end %>
			</div>
		</div>
	</article>

	<div class="booking__wrap">
		<article class="booking__info">
			<div class="booking__details">
				<h2>Travel Details</h2>
				<ul class="booking__details-list">
					<li>
					<% if @booking.host? %>
						<%= image_tag('icons/sleep-secondary.svg') %>
						<p>couch</p>
					<% elsif @booking.hangout? %>
						<%= image_tag('icons/hangout-secondary.svg') %>
						<p>hangout</p>
					<% elsif @booking.cowork? %>
						<%= image_tag('icons/work-secondary.svg') %>
						<p>co-work</p>
					<% end %>
					</li>
					<li>
						<%= image_tag('icons/calendar.svg') %>
						<%= @booking.start_date.strftime("%b %d") %> - <%= @booking.end_date.strftime("%b %d, %Y") %>
					</li>
					<li>
						<%= image_tag('icons/home.svg') %>
						<%= @booking.status.capitalize %>
					</li>
					<% if @booking.host? %>
						<li>
							<%= image_tag('icons/euro.svg') %>
							<% if @booking.payments.where(status: 1).any? %>
								<%= 'Booking has been paid.' %>
							<% elsif @booking.payments.where(status: 1).empty? && @booking.confirmed? %>
								<%= 'Awaiting payment to give access to address.' %>
							<% elsif @booking.pending? || @booking.pending_reconfirmation? %>
								<%= 'Waiting for the host to confirm.' %>
							<% elsif @booking.completed? %>
								<%= 'Booking has been paid.' %>
							<% end %>
						</li>
					<% end %>
					<li>
						<%= image_tag('icons/people.svg') %>
						<%= pluralize @booking.number_travellers, "Traveller" %>
					</li>
				</ul>
			</div>

			<div class="booking__message">
				<h2>Message</h2>
				<% if @booking.message.empty? %>
					<p><%= @booking.user.first_name %> didn't find the words.</p>
				<% else %>
					<p><%= @booking.message %></p>
				<% end %>
			</div>
		</article>

		<div class="booking__links" data-controller="confirm-alert">
			<% if @booking.confirmed? %>
				<button class="booking__decline" data-confirm-alert-target="cancel" data-action="click->confirm-alert#displayConfirmAlert">Cancel Booking</button>
				<%= button_to '', cancel_booking_path(@booking), method: :delete, class: 'display-none', data: { confirm_alert_target: 'action' } %>
			<% elsif @booking.pending? || @booking.pending_reconfirmation? %>
				<%= button_to 'Accept Request', accept_booking_path(@booking), method: :patch, class: 'booking__accept' %>
				<button class="booking__decline" data-confirm-alert-target="cancel" data-action="click->confirm-alert#displayConfirmAlert">Decline Request</button>
				<%= button_to '', cancel_booking_path(@booking), method: :delete, class: 'display-none', data: { confirm_alert_target: 'action' } %>
			<% end %>
		</div>

		<% if @host == current_user %>
			<% if @booking.completed? && @host_review.nil? %>
				<%= render 'partials/new-review' %>
			<% elsif @booking.completed? && !@host_review.nil? %>
				<%= render 'partials/review-preview' %>
			<% end %>
		<% else %>
			<% if @booking.completed? && @guest_review.nil? %>
				<%= render 'partials/new-review' %>
			<% elsif @booking.completed? && !@guest_review.nil? %>
				<%= render 'partials/review-preview' %>
			<% end %>
		<% end %>

		</div>
	</div>
</section>