<section class="booking-section">
	<h1>Booking Overview</h1>
	<div class="booking">
		<article class="booking__host">
			<div class="booking__host-left">
				<h2>Your Host</h2>
				<%= link_to couch_path(@couch) do %>
					<% if @couch.user.photo.key %>
						<%= cl_image_tag @couch.user.photo.key, class: 'booking__host-image' %>
					<% else %>
						<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1679925300/profile.jpg', class: 'booking__host-image') %>
					<% end %>
				<% end %>
			</div>
			<div class="booking__host-right">
				<h3 class="booking__host-name">
					<%= @couch.user.first_name %>, <%= @couch.user.calculated_age if @couch.user.date_of_birth %>
					<span><%= @couch.user.pronouns.downcase %></span>
				</h3>
				<div class="request__chat chat-icon__wrap">
					<% if @chat.nil? %>
						<%= button_to chats_path(user_sender_id: current_user.id, user_receiver_id: @host.id), method: :post do %>
							<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1680005864/message.svg', class: 'chat-icon') %>
						<% end %>
					<% else %>
						<%= link_to chat_path(@chat) do %>
							<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1680005864/message.svg', class: 'chat-icon') %>
						<% end %>
					<% end %>
				</div>
			</div>
		</article>

		<div class="booking__wrap">
			<article class="booking__info">
				<div class="booking__details">
					<h2>Travel Details</h2>
					<ul class="booking__details-list">
						<li>
						<% if @booking.host? %>
							<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1680005867/sleep-secondary.svg') %>
							<p>Host</p>
						<% elsif @booking.hangout? %>
							<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1680005862/hangout-secondary.svg') %>
							<p>Hangout</p>
						<% elsif @booking.cowork? %>
							<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1680005868/work-secondary.svg') %>
							<p>Cowork</p>
						<% end %>
						</li>
						<li>
							<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1680005859/calendar.svg') %>
							<% if @booking.start_date %>
								<%= @booking.start_date.strftime("%b %d") %> - <%= @booking.end_date.strftime("%b %d, %Y") %>
							<% else %>
								<p>Flexible</p>
							<% end %>
						</li>
						<li>
							<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1680005863/home.svg') %>
							<%= @booking.status.capitalize %>
						</li>
						<li>
							<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1680005865/people.svg') %>
							<%= pluralize @booking.number_travellers, 'Traveller' %>
						</li>
					</ul>
				</div>

				<% if @booking.host? && !@host.couch.facilities.empty? %>
					<div class="booking__accommodation">
						<h2>Accommodation</h2>
						<ul class="booking__accommodation-list">
							<% @couch.facilities.each do |facility| %>
								<% if facility.svg.attached? %>
									<li>
										<%= cl_image_tag(facility.svg.key) %>
										<%= facility.name %>
									</li>
								<% else %>
									<li>
										<%= facility.name %>
									</li>
								<% end %>
							<% end %>
						</ul>
					</div>
				<% end %>
			</article>

			<% if @booking.host? %>
			<article class="booking__location">
				<h2>Location</h2>
				<ul class="booking__address">
				<% if @booking.pending? || @booking.pending_reconfirmation? %>
					<li class="booking__pin">
						<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1680005865/pin.svg') %>
						<% if @couch.user.country == 'United Kingdom of Great Britain and Northern Ireland' %>
							<p><%= @couch.user.city %>, United Kingdom</p>
						<% else %>
							<p><%= @couch.user.city %>, <%= @couch.user.country %></p>
						<% end %>
					</li>
				<% elsif @booking.completed? %>
					<li class="booking__pin">
						<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1680005865/pin.svg') %>
						<p><%= @couch.user.address %></p>
					</li>
				</ul>
				<% elsif @booking.confirmed? && @hosts_array.geocoded.any? %>
				<div class="booking__map"
							data-controller="map"
							data-map-marker-value="<%= @marker.to_json %>"
							data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
				<% elsif @booking.confirmed? && @hosts_array.geocoded.empty? %>
					<li class="booking__pin">
						<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1680005865/pin.svg') %>
						<p>This user has not provided their address yet, please contact them directly.</p>
					</li>
				<% end %>
			</article>
			<% end %>

			<div class="booking__links" data-controller="confirm-alert">
				<% if @booking.pending? || @booking.pending_reconfirmation? %>
				<%= link_to 'Update Request', edit_booking_path(@booking), class: 'booking__update' %>
				<button class="booking__decline"
									data-confirm-alert-target="cancel" data-action="click->confirm-alert#displayConfirmAlert"
									data-confirm-title="Confirm"
									data-confirm-text="Are you sure you want to cancel this booking?"
									data-confirm-buttons='["No, go back", "Yes, cancel"]'>Cancel Request</button>
				<%= button_to '', cancel_booking_path(@booking), method: :delete, class: 'display-none', data: { confirm_alert_target: 'action' } %>
				<% elsif @booking.host? && @booking.confirmed? %>
					<%= link_to 'Change Booking', edit_booking_path(@booking), class: 'booking__update' %>
					<% if @booking.flexible %>
						<%= button_to 'Complete Booking', complete_booking_path(@booking), method: :patch, class: 'booking__complete' %>
					<% end %>
				<% elsif @booking.confirmed? %>
					<%= link_to 'Update Booking', edit_booking_path(@booking), class: 'booking__update' %>
					<button class="booking__decline"
									data-confirm-alert-target="cancel" data-action="click->confirm-alert#displayConfirmAlert"
									data-confirm-title="Confirm"
									data-confirm-text="Are you sure you want to cancel this booking?"
									data-confirm-buttons='["No, go back", "Yes, cancel"]'>Cancel Request</button>
					<%= button_to '', cancel_booking_path(@booking), method: :delete, class: 'display-none', data: { confirm_alert_target: 'action', action: 'click->confirm-alert#displayConfirmAlert' } %>
				<% end %>
			</div>

			<% if @host == current_user %>
				<% if @booking.completed? && @host_review.nil? %>
					<%= render 'partials/new-review' %>
				<% elsif @booking.completed? && !@host_review.nil? %>
					<%= render 'partials/review-preview' %>
				<% end %>
			<% else %>
				<% if @booking.completed? && @guest_review.nil? %>
					<%= render 'partials/new-review' %>
				<% elsif @booking.completed? && !@guest_review.nil? %>
					<%= render 'partials/review-preview' %>
				<% end %>
			<% end %>

		</div>
	</div>
</section>
