<section class="booking-section">
<h1>Your Guest</h1>
	<div class="booking">
		<article class="booking__host">
		<div class="booking__host-left">
			<h2>Your Guest</h2>
			<%= link_to couch_path(@couch) do %>
				<%= image_tag('profile.jpg', class: 'booking__host-image') %>
			<% end %>
		</div>
		<div class="booking__host-right">
			<h3 class="booking__host-name">
				<%= @booking.user.first_name %>, <%= @booking.user.calculated_age %>
				<span><%= @booking.user.pronouns %></span>
			</h3>
			<div class="booking__chat chat-icon__wrap">
				<% if @chat.nil? %>
					<%= button_to chats_path(user_sender_id: current_user.id, user_receiver_id: @host.id), method: :post do %>
						<%= image_tag('icons/message.svg', class: 'chat-icon') %>
					<% end %>
				<% else %>
					<%= link_to chat_path(@chat) do %>
						<%= image_tag('icons/message.svg', class: 'chat-icon') %>
					<% end %>
				<% end %>
			</div>
		</div>
	</article>

	<div class="booking__wrap">
		<article class="booking__info">
			<div class="booking__details">
				<h2>Travel Details</h2>
				<ul class="booking__details-list">
					<li>
						<%= image_tag('icons/calendar.svg') %>
						<%= @booking.start_date.strftime("%b %d") %> - <%= @booking.end_date.strftime("%b %d, %Y") %>
					</li>
					<li>
						<%= image_tag('icons/home.svg') %>
						<%= @booking.status.capitalize %>
					</li>
					<li>
						<%= image_tag('icons/money.svg') %>
						<% if @booking.payments.where(status: 1) %>
							<%= 'Booking has been paid.' %>
						<% else %>
							<%= 'Awaiting payment to give access to address.' %>
						<% end %>
					</li>
					<li>
						<%= image_tag('icons/people.svg') %>
						<%= pluralize @booking.number_travellers, "Traveller" %>
					</li>
				</ul>
			</div>

			<div class="booking__message">
				<h2>Message</h2>
				<p><%= @booking.message %></p>
			</div>
		</article>

		<div class="booking__links">
			<% if @booking.confirmed? %>
				<%= button_to 'Cancel Booking', cancel_booking_path(@booking), data: { turbo_confirm: 'Are you sure?' }, method: :patch, class: 'booking__decline' %>
			<% elsif @booking.pending? || @booking.pending_reconfirmation? %>
				<%= button_to 'Accept Request', accept_booking_path(@booking), method: :patch, class: 'booking__accept' %>
				<%= button_to 'Politely Decline', decline_booking_path(@booking), data: { turbo_confirm: 'Are you sure?' }, method: :patch, class: 'booking__decline' %>
			<% end %>
		</div>

		<% if @booking.completed? && @booking.review.nil? %>
			<%= render 'partials/new-review' %>
		<% elsif @booking.completed? && !@booking.review.nil? %>
			<%= render 'partials/review-preview' %>
		<% end %>

		</div>
	</div>
</section>