<h1>Booking Overview</h1>

<h2>Your Host</h2>
<h3><%= @booking.couch.user.first_name %>, <%= @booking.couch.user.calculated_age %></h3>
<p><%= @booking.couch.user.pronouns %></p>
<p><%= @booking.couch.user.city.name %></p>

<h3>Travel Details</h3>
<ul>
	<li>
		Booking Status: <%= @booking.status %>
	</li>
	<li>
		Travel Period: <%= @booking.start_date %> - <%= @booking.end_date %>
	</li>
	<li>
		Booking Date: <%= @booking.booking_date %>
	</li>
	<li>
		Travellers: <%= @booking.number_travellers %>
	</li>
	<li>
		Message: <%= @booking.message %>
	</li>
</ul>

<h3>Accomodation</h3>
<% if @payment.any? %>
<p> You can find your host at Luisenstr. 17, 10117 Berlin </p>
<% end %>
<ul>
	<% @booking.couch.facilities.each do |facility| %>
		<% if facility.image.attached? %>
			<li>
				<%# <%= image_tag ('images/icons/armchair.svg') %>
				<%= facility.name %>
			</li>
		<% else %>
			<li>
				<%= facility.name %>
			</li>
		<% end %>
	<% end %>
</ul>

<% if @booking.pending? || @booking.pending_reconfirmation? %>
	<%= link_to 'Update Request', edit_booking_path(@booking) %>
	<%= button_to 'Cancel Request', cancel_booking_path(@booking), method: :patch %>
<% elsif @booking.confirmed? && @booking.payments.empty? %>
	<%= link_to 'Update Booking', edit_booking_path(@booking) %>
	<%= link_to 'Pay now & Get access to your hosts address', pay_booking_path(@booking) %>
<% elsif @booking.confirmed? %>
	<%= link_to 'Update Booking', edit_booking_path(@booking) %>
	<%= button_to 'Cancel Booking', cancel_booking_path(@booking), method: :patch %>
<% elsif @booking.completed? %>
	<%= link_to "Leave #{@couch.user.first_name} Review", new_couch_booking_review_path(@booking, @couch) %>
<% end %>
