<h1>Your Guest</h1>

<section class="request">
	<article class="request__host">
		<div class="request__host-left">
			<h2>Your Guest</h2>
			<%= link_to couch_path(@couch) do %>
				<%= image_tag('profile.jpg', class: 'request__host-image') %>
			<% end %>
		</div>
		<div class="request__host-right">
			<h3 class="request__host-name">
				<%= @booking.user.first_name %>, <%= @booking.user.calculated_age %>
				<span><%= @booking.user.pronouns %></span>
			</h3>
			<div class="request__chat chat-icon__wrap">
				<%= link_to new_couch_booking_path(@booking.user) do %>
					<%= image_tag('icons/message.svg', class: 'chat-icon') %>
				<% end %>
			</div>
		</div>
	</article>

	<div class="request__wrap">
		<article class="request__info">
			<div class="request__details">
				<h2>Travel Details</h2>
				<ul class="request__details-list">
					<li>
						<%= image_tag('icons/calendar.svg') %>
						<%= @booking.start_date.strftime("%B %d") %> - <%= @booking.end_date.strftime("%B %d, %Y") %>
					</li>
					<li>
						<%= image_tag('icons/home.svg') %>
						<%= @booking.status.capitalize %>
					</li>
					<li>
						<%= image_tag('icons/money.svg') %>
						<% if @booking.payments.where(status: 1) %>
							<%= 'Booking has been paid.' %>
						<% else %>
							<%= 'Awaiting payment to give access to address.' %>
						<% end %>
					</li>
					<li>
						<%= image_tag('icons/people.svg') %>
						<%= @booking.number_travellers %> Travellers
					</li>
				</ul>
			</div>

			<div class="request__message">
				<h2>Message</h2>
				<p><%= @booking.message %></p>
			</div>
		</article>

		<div class="request__links">
			<% if @booking.confirmed? %>
				<%= button_to 'Cancel Booking', cancel_booking_path(@booking), method: :patch, class: 'request__decline' %>

			<% elsif @booking.pending? || @booking.pending_reconfirmation? %>
				<%= button_to 'Accept Request', accept_booking_path(@booking), method: :patch, class: 'request__accept' %>
				<%= button_to 'Politely Decline', decline_booking_path(@booking), method: :patch, class: 'request__decline' %>
			<% end %>
		</div>

		<% if @booking.completed? && @booking.review.nil? %>
			<%= render 'partials/new-review' %>
		<% elsif @booking.completed? && !@booking.review.nil? %>
			<%= render 'partials/review-preview' %>
		<% end %>

	</div>
</section>