<h1>Request Overview</h1>

<h2>Your Guest</h2>
<h3><%= @booking.user.first_name %>, <%= @booking.user.calculated_age %></h3>
<p><%= @booking.user.pronouns %></p>

<%= link_to "Check out #{@booking.user.first_name}'s profile", couch_path(@booking.user.couch) %>


<h3>Travel Details</h3>
<ul>
	<li>
		Booking Status: <%= @booking.booking_status %>
	</li>
	<li>
		Travel Period: <%= @booking.start_date %> - <%= @booking.end_date %>
	</li>
	<li>
		Booking Date: <%= @booking.booking_date %>
	</li>
	<li>
		Travellers: <%= @booking.number_travellers %>
	</li>
	<li>
		Message: <%= @booking.message %>
	</li>
</ul>

<% if @booking.booking_status == 'confirmed' %>
	<%= button_to 'Cancel Booking', cancel_booking_path(@booking), method: :patch %>
<% elsif @booking.booking_status == 'pending' %>
	<%= button_to 'Accept Request', accept_booking_path(@booking), method: :patch %>
	<%= button_to 'Decline Request', decline_booking_path(@booking), method: :patch %>
<% end %>
