<header class="header">
	<aside class="header__logo">
		<%= link_to 'Q', root_path %> 
	</aside>
	<% if user_signed_in? %>
		<%= render "shared/navbar" %>
		<div data-controller="dropdown-menu">
			<%= image_tag('profile.jpg', class: 'header__avatar', data: { dropdown_menu_target: 'toggle', action: 'click->dropdown-menu#displayAndHideMenu' }) %>
			<div class="header__dropdown dropdown display-none"
					data-dropdown-menu-target="menu">
				<p class="dropdown__title">Hello <%= current_user.first_name %>!</p>
				<ul>
					<p class="dropdown__subtitle">Personal</p>
					<li>
						<%= link_to 'Profile', edit_user_registration_path %>
					</li>
					<li>
						<%= link_to 'Trips', bookings_path %>
					</li>
					<li>
						<%= link_to 'Guests', requests_couch_bookings_path(current_user.couch) %>
					</li>
					<li>
						<%= link_to 'Chat', chats_path %>
					</li>
					<li>
						<%= link_to 'Humour Test' %>
					</li>
				</ul>
				<ul>
					<p class="dropdown__subtitle">Community</p>
					<li>
						<%= link_to 'Our Mission' %>
					</li>
					<li>
						<%= link_to 'Follow Us' %>
					</li>
					<li>
						<%= link_to 'Invite a Friend', new_user_invitation_path %>
					</li>
				</ul>
				<ul>
					<p class="dropdown__subtitle">Support</p>
					<li>
						<%= link_to 'F&Q' %>
					</li>
					<li>
						<%= link_to 'Contact Us' %>
					</li>
				</ul>
				<ul>
					<p class="dropdown__subtitle">Settings</p>
					<li>
						<%= link_to 'Notifications' %>
					</li>
					<li>
						<%= link_to 'Account Info' %>
					</li>
					<li>
						<%= link_to 'Payment Info' %>
					</li>
				</ul>
				<ul>
					<p class="dropdown__subtitle">General</p>
					<li>
						<%= link_to 'Privacy Center' %>
					</li>
					<li>
						<%= link_to 'Terms & Conditions' %>
					</li>
				</ul>
				<ul>
					<p class="dropdown__subtitle">Session</p>
						<li>
						<%= link_to 'Logout', destroy_user_session_path %>
					</li>
				</ul>
			</div>
		</div>
	<% else %>
	<aside class="header__note">Already have an account? <a href="/users/sign_in">Sign in</a></aside>
	<% end %>
</header>
