<header class="header">
	<aside class="header__logo">
		<%= link_to 'Q', root_path %> 
	</aside>
	<% if user_signed_in? %>
		<%= render "shared/navbar" %>
		<div data-controller="dropdown-menu">
			<%= cl_image_tag current_user.photo.key, class: 'header__avatar', data: { dropdown_menu_target: 'toggle', action: 'click->dropdown-menu#displayAndHideMenu' } if current_user.photo.key %>
			<div class="header__collapsible collapsible display-none"
					data-dropdown-menu-target="menu">
				<p class="collapsible__title">Hello <%= current_user.first_name %>!</p>
				<ul>
					<p class="collapsible__subtitle">Personal</p>
					<li>
						<%= image_tag('icons/profile') %>
						<% if current_user.couch %>
							<%= link_to 'Profile', couch_path(current_user.couch) %>
						<% else %>
							<%= link_to 'Profile', edit_user_registration_path %>
						<% end %>
					</li>
					<li>
						<%= image_tag('icons/trip') %>
						<%= link_to 'Trips', bookings_path %>
					</li>
					<% if current_user.couch %>
						<li>
							<%= image_tag('icons/home') %>
							<%= link_to 'Guests', requests_couch_bookings_path(current_user.couch) %>
						</li>
					<% end %>
					<li>
						<%= image_tag('icons/chat') %>
						<%= link_to 'Chat', chats_path %>
					</li>
					<li>
						<%= image_tag('icons/humor') %>
						<%= link_to 'Humour Test' %>
					</li>
				</ul>
				<ul>
					<p class="collapsible__subtitle">Community</p>
					<li>
						<%= image_tag('icons/mission') %>
						<%= link_to 'Our Mission', about_path %>
					</li>
					<li>
						<%= image_tag('icons/guidelines') %>
						<%= link_to 'Guidelines', guidelines_path %>
					</li>
					<li>
						<%= image_tag('icons/follow') %>
						<%= link_to 'Follow Us' %>
					</li>
					<li>
						<%= image_tag('icons/invite') %>
						<%= link_to 'Invite a Friend', new_user_invitation_path %>
					</li>
				</ul>
				<ul>
					<p class="collapsible__subtitle">Support</p>
					<li>
						<%= image_tag('icons/faq') %>
						<%= link_to 'FAQ' %>
					</li>
					<li>
						<%= image_tag('icons/contact') %>
						<%= link_to 'Contact Us', new_contact_path %>
					</li>
				</ul>
				<ul>
					<p class="collapsible__subtitle">Settings</p>
					<li>
						<%= image_tag('icons/notification') %>
						<%= link_to 'Notifications' %>
					</li>
					<li>
						<%= image_tag('icons/account') %>
						<%= link_to 'Account Info', edit_user_registration_path %>
					</li>
				</ul>
				<ul>
					<p class="collapsible__subtitle">General</p>
					<li>
						<%= image_tag('icons/impressum') %>
						<%= link_to 'Impressum', impressum_path %>
					</li>
					<li>
						<%= image_tag('icons/privacy') %>
						<%= link_to 'Privacy Center', privacy_path %>
					</li>
					<li>
						<%= image_tag('icons/conditions') %>
						<%= link_to 'Terms & Conditions' %>
					</li>
				</ul>
				<ul>
					<p class="collapsible__subtitle">Session</p>
						<li>
						<%= image_tag('icons/logout') %>
						<%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'collapsible__logout' %>
					</li>
				</ul>
			</div>
		</div>
	<% else %>
	<aside class="header__note">Already have an account? <a href="/users/sign_in">Sign in</a></aside>
	<% end %>
</header>
