<nav class="navigation">
	<ul class="navigation__list">
		<li class="navigation__link"><%= link_to 'Update profile', edit_user_registration_path(current_user) %></li>
		<li class="navigation__link"><%= link_to 'Browse', cities_path %></li>
			<% if current_user.couch %>
		<li class="navigation__link"><%= link_to 'Bookings', bookings_path %></li>
		<li class="navigation__link"><%= link_to 'Requests', requests_couch_bookings_path(current_user.couch) %></li>
			<% end %>
		<li class="navigation__link"><%= link_to 'Invite a friend', new_user_invitation_path %></li>
	</ul>	
</nav>