<nav class="navigation">
	<ul class="navigation__list">
		<li class="navigation__link"><%= link_to 'Hosts', root_path %></li>
		<li class="navigation__link"><%= link_to 'Trips', bookings_path %></li>
		<li class="navigation__link"><%= link_to 'Guests', requests_couch_bookings_path(current_user.couch) %></li>
		<li class="navigation__link navigation__link--donation">
		<% if current_user.subscription.present? && current_user.subscription.stripe_id_present? %>
			<%= link_to 'Membership', subscription_path(current_user.subscription) %>
		<% else %>
			<%= link_to 'Membership', new_subscription_path %>
		<% end %>
		</li>
	</ul>	
</nav>