<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Booking Completed</title>
  </head>
  <body>
      <h1>Thank you for hosting <%= booking.user.first_name.capitalize %></h1>
      <p>Dear <%= booking.couch.user.first_name.capitalize %>,</p>
      <p>We want to thank you for hosting <%= booking.user.first_name.capitalize %> at your space. We hope that their stay was comfortable and enjoyable, and we appreciate your efforts in creating a positive experience for them.</p>
      <p>As you know, reviews are an important part of our community and help future guests make informed decisions when booking on our platform. We kindly ask that you take a few moments to leave a review for <%= booking.user.first_name.capitalize %> based on your experience hosting them.</p>
      <p>Thank you again for your hospitality and for being a valued member of our community.</p>
      <p><%= link_to 'Leave a Review', @url %> to share your feedback with our community.</p>
      <p>Warm regards,<br>your Quouch Team</p>
  </body>
</html>