<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @guest.first_name.capitalize %> cancelled the request!</h1>
    <p>Unfortunately, <%= @guest.first_name.capitalize %> cancelled their request at your place. Thank you so much for offering your place on Quouch. This is truly making a difference.</p>
    <p><%= link_to 'View cancelled request', @request_url %></p>
    <p>Are you already planning your next trip?</p>
    <%= link_to 'Browse couches', @browse_couches %>
    <p>Remember that you can share <%= link_to 'your own invite code', @invite_code %> with people that you trust. Like this, we can grow safely and sustainably together.</p>
    <p>Lots of love,</p>
    <p>your Quouch Team</p>
  </body>
</html>
