<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Request Confirmation</title>
  </head>
  <body>
      <h1>Your request at <%= @host.first_name.capitalize %>'s place has been confirmed!</h1>
      <p>Dear <%= @guest.first_name.capitalize %>,</p>
      <p>YES!! We are thrilled to confirm your <%= link_to 'booking', @booking_url %><% if !@booking.flexible %> from <%= @booking.start_date.strftime("%b %d") %> to <%= @booking.end_date.strftime("%b %d, %Y") %> with Quouch.<% end %></p>
      <p>We want to assure you that your comfort and safety are our top priorities, and we are committed to creating a welcoming and inclusive environment for all of our guests. We understand how important it is to find a safe and comfortable space when traveling, and we are proud to offer our platform as a haven for members of the queer and female community.</p>
      <p>As a platform dedicated to creating a safe and inclusive environment for all of our guests, we do take absolute precaution as to who joins our platform. Still, this is the internet and there will always be some risk. Please be cautious and take independent care, as stated in our <%= link_to 'safety guidelines', @guidelines %>. You can <%= link_to 'report', @feedback_form_guest %> uncomfortable experiences to us, give us <%= link_to 'general feedback', @feedback_form_guest %> about your experience and also about the <%= link_to 'usability of our web app', @feedback_form_app %>. We are always there for you if you need support in any way, but please be aware that it is just Nora and Lis answering your mails, so sometimes it might take a while.</p>
      Remember that you can share <%= link_to 'your own invite code', @invite_code %> with people you trust. Like this, we can grow safely and sustainably together.</p>
      <p>Lots of love,</p>
      <p>your Quouch Team</p>
  </body>
</html>
