<div class="chat__header">
  <div class="chat__header__left">
    <%= link_to chats_path, class: 'back-link' do %>
      <i class="fa-solid fa-angle-left"></i>
    <% end %>
    <h3><%= other_user.first_name %> <%= other_user.last_name[0].upcase %>. <span> <%= other_user.pronouns %></span> </h3>
  </div>
  <%= link_to "...", couch_path(other_user.couch) %>
</div>
<div class="chat__container">
  <div class="chat"
      data-controller="chat-subscription"
      data-chat-subscription-chat-id-value="<%= chat.id %>"
      data-chat-subscription-current-user-id-value="<%= current_user.id %>">

    <% if chat.messages.any? %>
      <div class="chat__messages__container">

        <div class="chat__messages" data-chat-subscription-target="messages">
          <% chat.messages.each do |message| %>
            <div class="chat__message chat__message<%= message.sender?(current_user) ? '--right' : '--left' %>">
              <div class="message <%= message.sender?(current_user) ? 'chat__sender' : 'chat__receiver' %>">
                <%= render 'messages/message', message: message %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="chat__messages"
          data-chat-subscription-target="messages">
        <div class="chat__messages--empty">
          <%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1680005859/chat.svg') %>
          <p class="chat__messages">Be the first to reach out and start a conversation!</p>
        </div>
      </div>
    <% end %>

    <div class="chat__form__container" data-controller="message-submit">
      <%= simple_form_for [chat, message], remote: true,
        html: {
          class: 'chat__form',
          data: {
            action: 'turbo:submit-end->chat-subscription#resetForm',
            chat_subscription_target: 'form',
            message_submit_target: 'form'
          }
        } do |f| %>
          <%= f.input :content,
                      label: false,
                      placeholder: "Message #{@name}",
                      input_html: { class: 'chat__form-input',
                                    data: {
                                      message_submit_target: 'input',
                                      action: 'keydown->message-submit#submitMessage' } } %>
          <%= button_tag(class: 'chat__form-button') do %>
            <%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1680005866/send.svg') %>
          <% end %>
          <%= f.error :content, class: 'form-error' %>
      <% end %>
    </div>

  </div>
</div>
