<% if user_signed_in? %>
<div class="home__wrap" data-controller="characteristics-filter">
	<section class="search__section">
		<div class="search__wrap">
			<%= form_with url: couches_path,
										class: 'search',
										data: { characteristics_filter_target: 'form',
														action: 'submit->characteristics-filter#listCouches' },
										method: :get do %>
				<%= text_field_tag :query,
														params[:query],
														placeholder: 'Find hosts in city' %>
			<%= submit_tag "Search", class: 'search__button' %>
		</div>
		<div class="search__characteristics">
				<% Characteristic.all.each do |characteristic| %>
					<%= check_box_tag 'characteristics[]',
							characteristic.id,
							params[:characteristics]&.include?(characteristic.id),
							id: "characteristic_#{characteristic.id}",
							class: 'search__checkbox',
							data: { action: 'change->characteristics-filter#listCouches' } %>
					<%= label_tag "characteristic_#{characteristic.id}", characteristic.name %>
				<% end %>
		<% end %>
		</div>
	</section>

	<section data-characteristics-filter-target="list">
		<ul class="couches__list" data-characteristics-filter-target="couches">
		<% @active_couches.each do |couch| %>
			<li>
				<article class="couches__list-item">
					<%= link_to couch_path(couch) do %>
						<% if couch.user.photo.key %>
							<%= cl_image_tag couch.user.photo.key, class: 'couches__image' %>
						<% else %>
							<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1679925300/profile.jpg', class: 'couches__image') %>
						<% end %>
					<% end %>
					<div class="couches__content">
						<ul class="couches__features features">
						<% couch.user.characteristics.each  do |characteristic| %>
							<li><%= characteristic.name %></li>
						<% end %>
						</ul>
						<div class="couches__content-wrap">
							<ul class="couches__offers offers">
							<% if couch.user.offers_couch %>
								<li class="offers-item">
									<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1680005867/sleep.svg') %>
									<p>couch</p>
								</li>
							<% end %>
							<% if couch.user.offers_hang_out %>
								<li class="offers-item">
									<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1680005862/hangout.svg') %>
									<p>hangout</p>
								</li>
							<% end %>
							<% if couch.user.offers_co_work %>
								<li class="offers-item">
									<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1680005869/work.svg') %>
									<p>co-work</p>
								</li>
							<% end %>
							</ul>
							<div class="couches__details">
								<div>
									<h2 class="couches__name">
										<%= link_to "#{couch.user.first_name}", couch_path(couch.id) %>
									</h2>
									<p class="couches__characteristics">
										<%= couch.user.calculated_age %>, <%= couch.user.pronouns %>
									</p>
									<p class="couches__location">
										<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1680005865/pin.svg') %>
										<%= couch.city.name %>, <%= couch.country.name %>
									</p>
								</div>
								<% if couch.reviews.any? %>
									<p class="couches__rating">
										<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1680005868/star.svg') %>
										<%= sprintf("%.1f", couch.reviews.average(:rating).to_f).tr(".", ",") %>
									</p>
								<% end %>
							</div>
						</div>
					</div>
				</article>
			</li>
		<% end %>
		</ul>
	</section>
</div>
<% else %>
<div class="home__banner">
	<div class="home__banner-wrap">
		<h1>Like Couchsurfing, but very different.</h1>
		<p>Homestay from a female & queer perspective</p>
		<div class="home__banner-button">
			<%= link_to 'Request invite code', new_contact_path, class: 'home__banner-primary' %>
		</div>
	</div>
</div>
<div class="home__content">
	<h3 class="home__subtitle">
		<span class="home__supertitle">Our Mission</span>
		Meet other queer people & women you truly connect with
	</h3>
	<p>The first motivation to start Quouch was simply to create another homestay platform like Couchsurfing (CS) for queer people & women (FLINTA*). There is this <strong>initial layer of trust and understanding</strong> that you as a member of the LGBTQIA+ community feel when you meet another queer person. It is really hard to find that by coincidence. Building this travel platform where queer hosts and travellers can meet each other is one way to faciliate this - but then we thought, can't we make it even easier? We decided to develop a <strong>matching algorithm</strong>, so that you really meet the people you click with.
</div>
<h2 class="home__header">And how do we do it?</h2>
<div class="home__humour">
	<div class="home__humour-images">
		<%= cl_image_tag('humour-1.jpg') %>
		<%= cl_image_tag('humour-2.jpg') %>
		<%= cl_image_tag('humour-3.jpg') %>
	</div>
	<div class="home__humour-content">
		<h3 class="home__subtitle">We match travellers and hosts by humour</h3>
		<p>So how do we make sure you do connect and have a really good time together?</p>
		<p>We match hosts and travellers based on humour, preferences and personality. We developed a <strong>research-backed humour test</strong> to bring you together with someone who cracks up laughing about the same things you do.</p><br>
		<p>Take the test and find out what humour type you are.</p>
		<%= link_to 'Take the humour test', 'https://docs.google.com/forms/d/e/1FAIpQLSfzzQMH2d2KFXpcbyUFbLmrWDauuxPYqe8hQoFaNbW6VYGueA/viewform', class: 'home__button' %>
	</div>
</div>
<div class="home__split home__split--left">
	<div class="home__split-content">
		<h3 class="home__subtitle home__subtitle--split">
			<span class="home__supertitle">As a host</span>
			Share your home with travellers
		</h3>
		<p>Stay at home and let the world come to you. You decide if, when and who you want to host and how much time you spend with them.</p>
		<h3 class="home__subtitle home__subtitle--split">Trust & Privacy</h3>
		<p>Build relationships with trustworthy people that you are being matched with. Quouch is invite-only and users need to adhere to a strict code of conduct.</p>
	</div>
	<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1680296613/landing-1.jpg') %>
</div>
<div class="home__split home__split--right">
	<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1680296611/landing.jpg') %>
	<div class="home__split-content">
		<h3 class="home__subtitle home__subtitle--split">
			<span class="home__supertitle">As a traveller</span>
			Stay at a local's home
		</h3>
		<p>Hang out with people who know the area. Discover the queer local hotspots and places you would normally not be aware of.</p>
		<h3 class="home__subtitle home__subtitle--split">Be around people who are like you</h3>
		<p>Be in new places but still around people who understand you. Without having to explain the basics again and again.</p>
	</div>
</div>
<div class="home__logos">
	<h4 class="home__logos-title">Quouch is funded by</h4>
	<%= image_tag('') %>
	<%= image_tag('') %>
	<%= image_tag('') %>
	<%= image_tag('') %>
	<%= image_tag('') %>
</div>
<div class="home__contact">
	<h2 class="home__contact-title">Get in touch</h2>
	<div class="home__contact-wrap">
		<h3 class="home__contact-subtitle">Want to become part of the community?</h3>
		<p>Explain your interest in an invite code and we will consider you.</p>
		<p>Just want to say hi? Reach out!</p>
		<%= link_to 'Get in touch', new_contact_path, class: 'home__contact-button' %>
	</div>
</div>
<% end %>
