<article>
	<% if user_signed_in? %>
		<div class="home__wrap" data-controller="characteristics-filter">
			<section class="search__section">
				<div class="search__wrap" >
					<%= form_with url: couches_path,
												class: 'search',
												data: { characteristics_filter_target: 'form',
																action: 'submit->characteristics-filter#listCouches' },
												method: :get do %>
						<div data-controller="autocomplete" data-autocomplete-url-value="/search_cities" role="combobox" class="search__autocomplete">
							<%= text_field_tag :query,
																	params[:query],
																	placeholder: 'Find hosts in location',
																	class: 'form-control',
																	data: { autocomplete_target: 'input' } %>
							<%= hidden_field_tag 'city', data: { autocomplete_target: 'hidden' } %>
							<ul class="search__autocomplete-list" data-autocomplete-target="results"></ul>
						</div>
						<%= submit_tag 'Search', class: 'search__button' %>
					</div>
					<div class="search__offers">
						<%= check_box_tag 'offers_couch',
								'1',
								params[:offers_couch] == 'true',
								id: 'offers_couch',
								class: 'search__checkbox offer__checkbox',
								data: { action: 'change->characteristics-filter#listCouches' } %>
						<%= label_tag 'offers_couch', 'host' %>

						<%= check_box_tag 'offers_co_work',
								'1',
								params[:offers_co_work] == 'true',
								id: 'offers_co_work',
								class: 'search__checkbox offer__checkbox',
								data: { action: 'change->characteristics-filter#listCouches' } %>
						<%= label_tag 'offers_co_work', 'cowork' %>


						<%= check_box_tag 'offers_hang_out',
								'1',
								params[:offers_hang_out] == 'true',
								id: 'offers_hang',
								class: 'search__checkbox offer__checkbox',
								data: { action: 'change->characteristics-filter#listCouches' } %>
						<%= label_tag 'offers_hang', 'hang out' %>
				</div>

				<div class="search__characteristics">
					<% Characteristic.all.each do |characteristic| %>
						<%= check_box_tag 'characteristics[]',
								characteristic.id,
								params[:characteristics]&.include?(characteristic.id),
								id: "characteristic_#{characteristic.id}",
								class: 'search__checkbox',
								data: { action: 'change->characteristics-filter#listCouches' } %>
						<%= label_tag "characteristic_#{characteristic.id}", characteristic.name %>
					<% end %>
				</div>
				<% end %>
			</section>

			<section data-characteristics-filter-target="list">
				<%= render 'partials/couches', couches: @active_couches %>
				<%= paginate @active_couches %>
			</section>
		</div>
	<% else %>
		<div class="home__banner">
			<div class="home__banner-wrap">
				<div>
					<h1>Quouch</h1>
					<p class="home__banner-subtitle">Couch-surfing for queer people and women</p>
				</div>
				<div class="home__banner-button">
					<%= link_to 'Log in', new_user_session_path, class: 'home__banner-secondary' %>
					<%= link_to 'Sign up', invite_code_path, class: 'home__banner-primary' %>
				</div>
			</div>
		</div>
		<section class="home__numbers">
			<div class="home__numbers-wrap">
				<h2 class="home__subtitle">Find your queer couch</h3>
				<p>Quouch is the newest couch-surfing platform for queer people and women to explore the world safely while finding community.</p>
				<div class="home__list-wrap">
					<ul class="home__list">
						<li class="home__list-item">
							<div>
								<p>70+</p>
								<p>Countries</p>
							</div>
							<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1687866817/countries-landing.svg') %>
						</li>
						<li class="home__list-item">
							<div>
								<p>500+</p>
								<p>Cities</p>
							</div>
							<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1687866817/cities-landing.svg') %>
						</li>
						<li class="home__list-item">
							<div>
								<p>2000+</p>
								<p>Users</p>
							</div>
							<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1687866817/users-landing.svg') %>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<section class="home__voices">
			<div class="home__voices-wrap">
				<h2 class="home__subtitle">What our users say</h2>
				<div class="home__slider">
					<ul class="home__slider-list">
						<li class="home__card">
							<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1679925300/profile.jpg') %>
							<div>
								<blockquote>Lorem ipsum quote example text to see what this would look like once we added actual content.</blockquote>
								<p><strong>Laura, Valencia</strong></p>
							</div>
						</li>
						<li class="home__card">
							<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1679925300/profile.jpg') %>
							<div>
								<blockquote>Lorem ipsum quote example text to see what this would look like once we added actual content.</blockquote>
								<p><strong>Laura, Valencia</strong></p>
							</div>
						</li>
						<li class="home__card">
							<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1679925300/profile.jpg') %>
							<div>
								<blockquote>Lorem ipsum quote example text to see what this would look like once we added actual content.</blockquote>
								<p><strong>Laura, Valencia</strong></p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<section class="home__measures">
			<div class="home__measures-wrap">
				<ul class="home__measures-list">
					<li class="home__measures-list-item">
						<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1687535610/checkbox.svg') %>
						<div>
							<h3 class="home__measures-title">Invite-only</h3>
							<p>You can only use Quouch with an invite code, or by applying for one, which keeps it safe and a friends-of-friends vibe.</p>
						</div>
					</li>
					<li class="home__measures-list-item">
						<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1687535610/checkbox.svg') %>
						<div>
							<h3 class="home__measures-title">Filters</h3>
							<p>No matter what your community, we have a filter to make sure you feel safe and seen wherever you go. These include trans-only, bipoc only, sw-friendly, 
							neurodiverse and many more.</p>
						</div>
					</li>
					<li class="home__measures-list-item">
						<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1687535610/checkbox.svg') %>
						<div>
							<h3 class="home__measures-title">Monitoring</h3>
							<p>We monitor who applies to Quouch to have an extra layer of safety, provide safety community guidelines and act fast on blocking those who are found to be 
							harassing others.</p>
						</div>
					</li>
				</ul>
			</div>
		</section>
		<section class="home__voices">
			<div class="home__voices-wrap">
				<h2 class="home__subtitle">Check us out</h2>
				<div class="home__slider">
					<ul class="home__slider-list">
						<%= link_to '' do %>
							<li class="home__card">
								<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1679925300/profile.jpg') %>
								<div>
									<blockquote>Lorem ipsum quote example text to see what this would look like once we added actual content.</blockquote>
									<p><strong>Siegessäule, Berlin Queer Magazine</strong></p>
								</div>
							</li>
						<% end %>
						<%= link_to '' do %>
							<li class="home__card">
								<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1679925300/profile.jpg') %>
								<div>
									<blockquote>Lorem ipsum quote example text to see what this would look like once we added actual content.</blockquote>
									<p><strong>L.Mag, Lesbian Magazine</strong></p>
								</div>
							</li>
						<% end %>
						<%= link_to '' do %>
							<li class="home__card">
								<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1679925300/profile.jpg') %>
								<div>
									<blockquote>Lorem ipsum quote example text to see what this would look like once we added actual content.</blockquote>
									<p><strong>QX, London Queer Magazine</strong></p>
								</div>
							</li>
						<% end %>
					</ul>
				<div>
			</div>
		</section>
		<section class="home__logos">
			<h2 class="home__subtitle">Supported by</h4>
			<div class="home__logos-wrap">
				<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1688558364/exist.png') %>
				<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1688556752/humboldt-innovation.png') %>
				<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1688556753/science-startups.png') %>
				<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1688556753/EU.png') %>
				<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1688556752/sen-web.png') %>
				<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1687870179/qx.png') %>
				<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1687870180/l-mag.png') %>
				<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1688558364/sieges.png') %>
			</div>
		</section>
	<% end %>
</article>