<% if user_signed_in? %>
<div class="home__wrap">
	<section class="search__section" data-controller="characteristics-filter">
		<div class="search__wrap">
			<%= form_with url: root_path, class: 'search', data: { characteristics_filter_target: 'form' }, method: :get do %>
				<%= text_field_tag :query,
					params[:query],
					placeholder: "Find hosts in city"
				%>
			<%= submit_tag "Search", class: 'search__button' %>
		</div>
		<div class="search__characteristics">
				<% Characteristic.all.each do |characteristic| %>
					<%= check_box_tag 'characteristics[]',
							characteristic.id,
							params[:characteristics]&.include?(characteristic.id),
							id: "characteristic_#{characteristic.id}", class: 'search__checkbox',
							data: { action: 'click->characteristics-filter#submitForm' } %>
					<%= label_tag "characteristic_#{characteristic.id}", characteristic.name %>
				<% end %>
			<% end %>
		</div>
	</section>

	<section>
		<ul class="couches__list">
		<% @couches.each do |couch| %>
			<li>
				<article class="couches__list-item">
					<%= link_to couch_path(couch) do %>
						<%= image_tag('profile.jpg', class: 'couches__image') %>
					<% end %>
					<div class="couches__content">
						<ul class="couches__features features">
						<% couch.user.characteristics.each  do |characteristic| %>
							<li><%= characteristic.name %></li>
						<% end %>
						</ul>
						<ul class="couches__offers offers">
						<% if couch.user.offers_couch %>
							<li class="offers-item">
								<%= image_tag('icons/sleep.svg') %>
								<p>couch</p>
							</li>
						<% end %>
						<% if couch.user.offers_hang_out %>
							<li class="offers-item">
								<%= image_tag('icons/hangout.svg') %>
								<p>hangout</p>
							</li>
						<% end %>
						<% if couch.user.offers_co_work %>
							<li class="offers-item">
								<%= image_tag('icons/work.svg') %>
								<p>co-work</p>
							</li>
						<% end %>
						</ul>
						<div class="couches__details">
							<div>
								<h2 class="couches__name">
									<%= link_to "#{couch.user.first_name}", couch_path(couch.id) %>
								</h2>
								<p class="couches__characteristics">
									<%= couch.user.calculated_age %>, <%= couch.user.pronouns %>
								</p>
							</div>
							<% if couch.reviews.any? %>
								<p class="couches__rating">
									<%= image_tag('icons/star.svg') %>
									<%= sprintf("%.1f", couch.reviews.average(:rating).to_f).tr(".", ",") %>
								</p>
							<% end %>
						</div>
					</div>
				</article>
			</li>
		<% end %>
		</ul>
	</section>
</div>
	<% else %>
<div class="home__banner">
	<div class="home__banner-wrap">
		<h1>Like Couchsurfing, but very different.</h1>
		<p>Homestay from a female & queer perspective</p>
		<div class="home__banner-button">
			<%= link_to 'Request invite code', new_contact_path, class: 'home__banner-primary' %>
			<%= link_to 'Sign in', new_user_session_path, class: 'home__banner-secondary' %>
		</div>
	</div>
</div>
	<% end %>
