<article class="home">
  <div class="home__banner">
    <div class="home__banner-wrap">
      <div>
        <h1>Stay with queers when traveling</h1>
      </div>
      <div class="home__banner-button">
        <%= link_to 'Apply for invite code', code_contacts_path, class: 'home__banner-primary' %>
        <%= link_to 'Sign up', invite_code_path, class: 'home__banner-secondary' %>
      </div>
    </div>
  </div>
  <section class="home__map">
    <div class="home__map-wrap">
      <h2 class="home__subtitle">Every Orange Dot is a Friend</h2>
      <p>Reach out today and re-own the world.</p>
      <%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1729074497/mobile_map_landing.png', alt: 'Static image of map with pins of all Quouch hosts') %>
      <%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1728567027/map_landing_page_high_res.png', alt: 'Static image of map with pins of all Quouch hosts', class: 'display-none') %>
    </div>
  </section>
  <section class="home__voices">
    <div class="home__voices-wrap">
      <h2 class="home__subtitle">What our users say</h2>
      <div class="home__slider">
        <ul class="home__slider-list">
          <li class="home__card">
            <%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1729511461/Pablo_Fede.png', alt: 'Image of Quouch user') %>
            <blockquote>Thanks to Quouch, we found an amazing queer collective of 7. This would have been almost impossible without Quouch putting us in contact--it was amazing! The general vibe of all the messages we got through the app was so respectful and it felt really safe.</blockquote>
            <p><strong>Pablo (he/him) & Fede (he/him)</strong></p>
          </li>
          <li class="home__card">
            <%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1729511459/Hannah.png', alt: 'Image of Quouch user') %>
            <blockquote>My host was incredibly kind and it felt like I was meeting up with old friends. There are truly no strangers in the Quouch community, only friends that are excited to meet you.</blockquote>
            <p><strong>Theo (they/them)</strong></p>
          </li>
          <li class="home__card">
            <%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1729511459/Hannah.png', alt: 'Image of Quouch user') %>
            <blockquote>I was travelling on my own and finding a stay through Quouch was a major highlight. Having a stay that felt so safe and welcoming was a true gift. I look forward to paying it forward by using Quouch to host queer friends from around the world :)</blockquote>
            <p><strong>Hannah (she/her)</strong></p>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="home__filters">
    <div class="home__filters-wrap">
      <h2 class="home__subtitle">Find your People with the right Filters</h2>
      <%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1729074496/mobile_filters_landing.png', alt: 'Screenshot of filters') %>
      <%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1728567028/filters_landing_page_high_res.png', alt: 'Screenshot of filters', class: 'display-none') %>
      <p>We are invite-only, but you can <%= link_to 'request a code', code_contacts_path %>.</p>
      <p>It normally takes us up to 24 hours to get back to you. Until then, you can take our..</p>
    </div>
  </section>
  <section class="home__humor">
    <div class="home__humor-wrap">
      <h2 class="home__subtitle">Humor Test</h2>
      <i class="quouch-face-laugh-beam color-primary-transparent" aria-label='Laughing Face Icon'></i>
      <div class="home__humor-content">
        <p>In the future, we plan on matching you with your host or guest based on your sense of humor! Try out the
          <strong><%= link_to 'humor test', 'https://forms.gle/nS3XfX9fE9P3gC5E6' %></strong> and find out your humor profile.
        </p>
      </div>
    </div>
  </section>
  <section class="home__logos">
    <h2 class="home__subtitle">
      Supported by
      <span>and seen on</span>
    </h2>
    <div class="home__logos-wrap">
      <%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1688558364/exist.png', alt: 'Logo of Exist') %>
      <%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1688556752/humboldt-innovation.png', alt: 'Logo of Humboldt Innovation') %>
      <%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1712753839/invest.png', alt: 'Logo of Invest Wagniskapital') %>
      <%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1688556753/science-startups.png', alt: 'Logo of Science Startups') %>
      <%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1688556753/EU.png', alt: 'Logo of Exist') %>
      <%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1688556752/sen-web.png', alt: 'Logo of Senatsverwaltung für Wirtschaft, Energie und Betriebe Berlin') %>
      <%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1690810263/qx.png', alt: 'Logo of QX') %>
      <%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1690810342/lmag.png', alt: 'Logo of LMAG') %>
      <%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1688558364/sieges.png', alt: 'Logo of Siegessäule') %>
    </div>
  </section>
</article>
