<article class="contact">
	<% if user_signed_in? %>
	<h1 class="contact__header">Contact the Quouch Team</h1>
	<div class="contact__wrap">
		<h2 class="contact__subtitle">Say hi</h2>
		<p>We would love to hear from you!</p>
	<% else %>
	<h1 class="contact__header">Request invite code</h1>
	<div class="contact__wrap">
		<h2 class="contact__subtitle">Tell us more about you and your motivation to become a part of Quouch!</h2>
	<% end %>
	<%= simple_form_for @contact do |f| %>

		<div class="contact__contact">
			<div class="contact__input">
				<%= f.label      :name %>
				<%= f.text_field :name,
												 placeholder: 'Full Name' %>
				<%= f.error :name, class: 'form-error' %>
			</div>
			<div class="contact__input">
				<%= f.label       :email %>
				<%= f.email_field :email,
													placeholder: 'Email Address' %>
				<%= f.error :email, class: 'form-error' %>
			</div>
		</div>

		<div class="contact__message">
			<%= f.label :message %>
			<%= f.input :message,
									as: :text,
									error: false,
									label: false,
									input_html: { rows: 8 } %>
			<%= f.error :message, class: 'form-error' %>
		</div>

		<div class="contact__source">
			<%= f.label      :how_did_you_hear_from_us? %>
			<%= f.text_field :source,
												placeholder: 'Let us know how you found out about Quouch!' %>
		</div>

		<div class="display-none">
			<%= f.label      :nickname %>
			<%= f.text_field :nickname %>
		</div>

		<%= f.hidden_field :type, value: 'code' %>

		<div class="contact__action">
			<p class="contact__legal">By proceeding you agree to Quouch's <%= link_to 'Terms & Conditions' %> and <%= link_to 'Privacy Policy' %><p>
			<div class="contact__button">
				<%= f.submit 'Submit Request' %>
			</div>
		</div>
	<% end %>
	</div>
</article>