<article class="contact">
	<h1 class="contact__header">Report a breach of our terms</h1>
	<div class="contact__wrap">
		<h2 class="contact__subtitle">A user did not follow our guidelines? Please tell us about your experience so we can take action!</h2>
	<%= simple_form_for @contact do |f| %>

		<div class="contact__contact">
			<div class="contact__input">
				<%= f.label      :name %>
				<%= f.text_field :name,
												 placeholder: 'Your Name' %>
				<%= f.error :name, class: 'form-error' %>
			</div>
			<div class="contact__input">
				<%= f.label       :email %>
				<%= f.email_field :email,
													placeholder: 'Email Address' %>
				<%= f.error :email, class: 'form-error' %>
			</div>
		</div>

		<div class="contact__message">
			<%= f.label :message %>
			<%= f.input :message,
									as: :text,
									error: false,
									label: false,
									input_html: { rows: 8, value: "I unfortunately have to report #{Couch.find(params[:couch]).user.first_name} due to them… (please describe the reason of you reporting them as detailed as possible!)" } %>
			<%= f.error :message, class: 'form-error' %>
		</div>

		<div class="display-none">
			<%= f.label      :nickname %>
			<%= f.text_field :nickname %>
		</div>

		<%= f.hidden_field :type, value: 'report' %>
		<%= f.hidden_field :couch, value: params[:couch] %>

		<div class="contact__action">
			<p class="contact__legal">By proceeding you agree to Quouch's <%= link_to 'Terms & Conditions' %> and <%= link_to 'Privacy Policy' %><p>
			<div class="contact__button">
				<%= f.submit 'Submit Request' %>
			</div>
		</div>
	<% end %>
	</div>
</article>