<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>You are trusted - please join Quouch!</title>
  </head>
  <body>
    <h1>You have been invited to join Quouch! 🌈</h1>
    <p>We are an invite-only platform and your friend <%= @inviter.first_name.capitalize %> wants you to be part of Quouch, which means that you are trusted to share the same values as us and our wonderful community. Nonetheless is it our absolute priority and mission to create a space in which people of all genders and identities can live warmly accepted and fearlessly. Now that you are about to become part of this movement, we kindly ask you to respect the space, be aware of the <%= link_to 'guidelines', 'https://quouch-app.com/guidelines' %> before you decide to join and once you are part of the platform, treat other users with the warmest curiosity.</p>
    <p>Click on the link below to sign up and get started:</p>
    <a href="<%= @url %>">Accept invitation and sign up for Quouch</a>
    <p>We are Nora, Lisbeth and Babken working all day from Berlin and Barcelona. We are absolutely approachable and if you have ideas, feedback or any other thoughts, please do not hesitate to <%= link_to 'reach out to us', 'https://forms.gle/mAiFEpxrw5PsbKD87' %>. You can use the form or also respond to this mail. Since August 1st, we are live with the website you currently see. So we are constantly improving Quouch, but since it's just us three so far, there might still be some little issues. You'd be supporting us a lot if you report them to us <%= link_to 'here', 'https://forms.gle/by6szdpGKtpfv6mD7' %>.</p>
    <p>Safe travels and warmest regards from Berlin,</p>
    <p>Yours,</p>
    <p>Nora, Lis and Babken</p>
  </body>
</html>
