<section class="plans">
  <div class="plans__wrap">
    <h1 class="plans__title">
      Choose a plan
    </h1>

    <div class="plans__content" data-controller="plans-toggle">
      <h2>And start contacting other members now</h2>
      <p>Choose the subscription based on your situation</p>
      <div class="switch-button">
        <input class="switch-button-checkbox" type="checkbox" data-plans-toggle-target="toggle" data-action="change->plans-toggle#switch"></input>
        <label class="switch-button-label" for=""><span class="switch-button-label-span">Yearly</span></label>
      </div>

      <div class="plans__lists">
        <ul class="plans__list" data-plans-toggle-target="year">
          <% @yearly.each do |plan| %>
          <li class="plans__list-item">
            <h3><%= plan.name %></h3>
            <ul class="plans__details">
              <li class="plans__price">
                <%= number_to_currency(plan.price_cents / 100.0, unit: '€', separator: ',', delimiter: '.') %> / <%= plan.interval %>
              </li>
              <li class="plans__description">
                <%= plan.description %>
              </li>
            </ul>
            <a class="plans__button" href="">Choose plan</a>
          </li>
          <% end %>
        </ul>

        <ul class="plans__list display-none" data-plans-toggle-target="month">
          <% @monthly.each do |plan| %>
          <li class="plans__list-item">
            <h3><%= plan.name %></h3>
            <ul class="plans__details">
              <li class="plans__price">
                <%= number_to_currency(plan.price_cents / 100.0, unit: '€', separator: ',', delimiter: '.') %> / <%= plan.interval %>
              </li>
              <li class="plans__description">
                <%= plan.description %>
              </li>
            </ul>
            <a class="plans__button" href="">Choose plan</a>
          </li>
          <% end %>
        </ul>
      </div>
    </div>

    <button id="pay">Pay now</button>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
      const paymentButton = document.getElementById('pay');
      paymentButton.addEventListener('click', () => {
        const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
        stripe.redirectToCheckout({
          sessionId: '<#%= @payment.checkout_session_id %>'
        });
      });
    </script>

  </div>
</section>
