<section class="plans">
  <div class="plans__wrap">
    <h1 class="plans__title">
      Choose a plan
    </h1>

    <div class="plans__content" data-controller="plans-toggle">
      <p>Congratulations for planning on travelling the coolest way possible!</p>
      <p>We came up with a sliding scale membership plan to meet you wherever you are in your financial situation. No money should not be a reason to not travel, but sadly, it does need money to make this platform work. To just browse profiles and/or be a host, you do not need a membership fee - still, we appreciate any support.</p>

      <div class="switch-button">
        <input class="switch-button-checkbox" type="checkbox" data-plans-toggle-target="toggle" data-action="change->plans-toggle#switch"></input>
        <label class="switch-button-label"><span class="switch-button-label-span">Paid 6-Monthly</span></label>
      </div>

      <div class="plans__lists">
        <ul class="plans__list display-none" data-plans-toggle-target="year">
          <% @yearly.each do |plan| %>
          <li class="plans__list-item">
            <div class="plans__list-item__wrap">
              <%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1704394135/stack.svg') %>
              <div>
                <h3><%= plan.name %></h3>
                  <p class="plans__price"><%= number_to_currency((plan.price_cents / 100.0) / 12, unit: '€', separator: ',', delimiter: '.') %><span class="plans__price-interval">/month</span></p>
              </div>
            </div>
            <p class="plans__description"><%= plan.description %></p>
            <%= link_to 'Choose plan', payment_subscriptions_path(plan_id: plan.id), class: 'plans__button', data: { turbo: false } %>
          </li>
          <% end %>
        </ul>

        <ul class="plans__list" data-plans-toggle-target="month">
          <% @monthly.each do |plan| %>
          <li class="plans__list-item">
            <div class="plans__list-item__wrap">
              <%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1704394135/stack.svg') %>
              <div>
                <h3><%= plan.name %></h3>
                  <p class="plans__price"><%= number_to_currency((plan.price_cents / 100.0) / 6, unit: '€', separator: ',', delimiter: '.') %><span class="plans__price-interval">/month</span></p>
              </div>
            </div>
            <p class="plans__description"><%= plan.description %></p>
            <%= link_to 'Choose plan', payment_subscriptions_path(plan_id: plan.id), class: 'plans__button', data: { turbo: false } %>
          </li>
          <% end %>
        </ul>
      </div>

      <p>Please bear in mind that subscribing to a membership plan does <strong>not guarantee</strong> you a successful stay with Quouch. We only provide access to the Quouch community. The best advise for a successful experience is a friendly profile and kind, personal messages. For more information, check our <strong><%= link_to 'safety advice', safety_path %></strong> and <strong><%= link_to 'guidelines', guidelines_path %></strong>.</p>
    </div>
  </div>
</section>
