<section class="user">
  <h1>Set Account Details</h1>

  <%= simple_form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put, class: 'user__form' }) do |f| %>

      <div class="user__wrap">
        
        <div class="user__image" data-controller="image-preview">
          <%= f.label :profile_picture %>
          <% if @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key, class: 'user__image-preview', data: { image_preview_target: 'preview' } %>
          <% else %>
            <%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1680005866/placeholder.svg', class: 'user__image-icon', data: { image_preview_target: 'preview' }) %>
          <% end %>
          <div class="user__image-upload">
            <%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1680005866/profile-upload.svg') %>
            <%= f.input :photo,
                        as: :file,
                        input_html: { class: 'display-none',
                                      data: { image_preview_target: 'input',
                                              action: 'change->image-preview#previewImage' } },
                        label_html: { class: 'user__image-label'},
                        label: 'Upload a photo',
                        error: false %>
          </div>
            <%= f.error :photo, class: 'form-error form-error-photo' %>
        </div>

        <div class="user__info">
          <%= f.label       :personal_info %>
          <%= f.input_field :first_name,
                            autofocus: true,
                            label: false,
                            placeholder: 'First Name',
                            error: false,
                            input_html: { autocomplete: 'first_name' } %>
          <%= f.error       :first_name, class: 'form-error' %>
          <%= f.input_field :last_name,
                            autofocus: true,
														placeholder: 'Last Name',
                            error: false,
                            input_html: { autocomplete: 'last_name' } %>
          <%= f.error       :last_name, class: 'form-error' %>
          <%= f.input_field :email,
                            autofocus: true,
                            placeholder: 'Email',
                            error: false,
                            input_html: { autocomplete: 'email' } %>
          
          <%= f.label       :date_of_birth %>
          <div class="user__birthdate">
            <%= f.input_field :date_of_birth,
                              start_year: Date.today.year - 100,
                              end_year: Date.today.year,
                              autofocus: true,
                              error: false %>
          </div>
          <%= f.error         :date_of_birth, class: 'form-error' %>
          <%= f.input         :pronouns,
                              autofocus: true,
                              input_html: { autocomplete: 'pronouns' } %>
          
          <%= f.label         :address, class: 'user__address-label' %>
          <div class="user__address">
            <%= f.input       :address,
                              label: false,
                              input_html: { data: { address_autocomplete_target: 'address' }, class: 'display-none' },
                              wrapper_html: { data: { controller: 'address-autocomplete', address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"] }} %>
            <div class="user__address-street">
              <%= f.label       :street %>
              <%= f.text_field  :street,
                                required: true,
                                value: @user.street,
                                autofocus: true,
                                id: 'street' %>
            </div>
            <div class="user__address-city">
              <%= f.label       :zipcode %>
              <%= f.text_field  :zipcode,
                                required: true,
                                value: @user.zipcode,
                                autofocus: true,
                                id: 'zip' %>

             <%= simple_fields_for :city do |ci| %>
              <%= ci.label         :city %>
              <%= ci.text_field    :name,
                                   value: @user.city.try(:name),
                                   label: 'City',
                                   error: false,
                                   autofocus: true,
                                   id: 'city' %>
            </div>
              <%= ci.error         :city, class: 'form-error' %>
            <% end %>

            <div class="user__address-country">

            <%= simple_fields_for :country do |cy| %>
              <%= cy.label        :country %>
              <%= cy.text_field   :name,
                                  value: @user.country.try(:name),
                                  boolean_style: :inline,
                                  error: false,
                                  autofocus: true,
                                  id: 'country' %>
            </div>
              <%= cy.error        :country, class: 'form-error' %>
            <% end %>
          </div>
          
          <%= f.label       :about_me %>
          <%= f.input_field :summary,
                            autofocus: true,
                            error: false %>
          <%= f.error       :about_me, class: 'form-error' %>

          <%= f.label :characteristics %>
          <%= f.error :characteristics, class: 'form-error form-error-characteristics' %>
          <div class="user__characteristics">
            <%= simple_fields_for :user_characteristic do |ucf| %>
              <%= ucf.collection_check_boxes :characteristic_ids,
                                            Characteristic.all,
                                            :id, :name,
                                            checked: @user.characteristic_ids,
                                            error: false,
                                            input_html: { multiple: true, autocomplete: 'characteristics' } %>
            <% end %>
          </div>

          <div data-controller="conditional-user-fields">
            <%= f.label :i_offer %>
            <div class="user__offers">
              <div class="user__offer">
                <%= f.input           :offers_couch,
                                      label: false,
                                      autofocus: true,
                                      input_html: { data: { conditional_user_fields_target: 'trigger', action: 'click->conditional-user-fields#toggleField' }} %>
                <%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1680005867/sleep.svg') %>
                <%= f.label           :couch %>
              </div>
              <div class="user__offer">
                <%= f.input_field     :offers_co_work,
                                      autofocus: true %>
                <%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1680005869/work.svg') %>
                <%= f.label           :co_working %>
              </div>
              <div class="user__offer">
                <%= f.input_field     :offers_hang_out,
                                      autofocus: true %>
                <%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1680005862/hangout.svg') %>
                <%= f.label           :hangout %>
              </div>
            </div>

            <div class="user__couch" data-conditional-user-fields-target="field">
              <%= simple_fields_for     :couch do |cf| %>
                <div class="user__couch-capacity">
                  <%= cf.label          :i_can_host %>
                  <%= cf.input_field    :capacity,
                                        collection: 1..4,
                                        autofocus: true %>
                  <%= cf.label          :guests %>
                </div>
              <%= cf.label                       :my_couch_comes_with %>
              <div class="user__couch-facilities">
                <%= simple_fields_for            :couch_facility do |cff| %>
                  <%= cff.collection_check_boxes :facility_ids,
                                                  Facility.all, :id, :name,
                                                  input_html: { multiple: true },
                                                  autofocus: true %>
                <% end %>
              </div>
              <% end %>
            </div>
          </div>

            <%= f.label       :this_makes_me_really_happy %>
            <%= f.input_field :question_one,
                              autofocus: true %>
            <%= f.label       :what_i_cant_stand %>
            <%= f.input_field :question_two,
                              autofocus: true %>
            <%= f.label       :tell_us_what_you_need_and_like %>
            <%= f.input_field :question_three,
                              autofocus: true %>
            <%= f.label       :when_you_live_at_my_place_i_appreciate %>
            <%= f.input_field :question_four,
                              autofocus: true %>

					<%= f.label :set_password %>
					<div class="user__password">
						<%= f.password_field :password,
																 hint: "#{@minimum_password_length} characters minimum",
																 placeholder: 'Password' %>
					</div>
          <%= f.hint             "#{@minimum_password_length} characters minimum",
                                 class: 'user__hint' %>
          <%= f.error            :password, class: 'form-error' %>

					<div class="user__password">
						<%= f.password_field :password_confirmation,
																	placeholder: 'Password confirmation' %>
            <%= f.error          :password_confirmation, class: 'form-error' %>
					</div>

					<%= f.hidden_field :invitation_token %>

					<div class="user__submit">
						<%= f.submit "Create Account" %>
					</div>
				</div>
			</div>
	<% end %>
	<aside class="user__footer">
    <aside class="signup__terms">
      By creating your account, you agree to our <a href="/terms">Terms & Conditions</a> and <a href="/privacy">Privacy Policy</a>
    </aside>
  </aside>

</section>
