<div>
  <div>
    <div>
      <h1>Checkout summary</h1>
      <p>Booking of <strong><%= @booking.end_date - @booking.start_date %> nights at <%= @booking.couch.user.first_name %>'s place</strong> for <strong><%= humanized_money_with_symbol @booking.amount %></strong></p>
      <button id="pay">Pay</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @booking.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>
