<h1>Hosts in <%= @city.name %></h1>

<ul>
<% @hosts.where.not(id: current_user).each do |host| %>
	<li><%= link_to "#{host.first_name}", couch_path(host.couch.id) %></li>
	<li><%= host.pronouns %></li>
	<li><%= host.calculated_age %></li>
	<% if host.offers_couch %>
		<li>
			<%= image_tag('icons/sleep.svg') %>
			<p>couch</p>
		</li>
	<% end %>
	<% if host.offers_hang_out %>
		<li>
			<%= image_tag('icons/hangout.svg') %>
			<p>hangout</p>
		</li>
	<% end %>
	<% if host.offers_co_work %>
		<li>
			<%= image_tag('icons/work.svg') %>
			<p>co-work</p>
		</li>
	<% end %>
<% end %>
</ul>
