<!DOCTYPE html>
<html>
  <head>
    <title>Quouch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('logo.png') %>

    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>

    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/flashes' %>
    <%= render 'shared/header' %>

    <%= yield %>

  <%= render 'shared/footer' unless defined?(ChatsController) && controller_name == 'chats' && action_name != 'show' %> 
  </body>
</html>
