<section class="user">
  <h1>Edit Profile</h1>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'user__form' }) do |f| %>
    <%= f.error_notification %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div>
      <div class="user__wrap">
        
        <div class="user__image">
          <%= f.label :profile_picture %>
          <% if @user.photo.any? %>
            <%= image_tag('profile', class: 'user__image-preview') %>
          <% else %>
            <%= image_tag('icons/profile', class: 'user__image-icon') %>
          <% end %>
          <%= f.input_field :photo, as: :file, class: 'user__image-upload' %>
        </div>

        <div class="user__info">
          <%= f.label       :personal_info %>
          <%= f.input_field :first_name,
                            required: true,
                            autofocus: true,
                            label: false,
                            placeholder: 'First Name',
                            error: 'First Name is mandatory, please specify one',
                            input_html: { autocomplete: 'first_name' } %>
          <%= f.input_field :last_name,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: 'last_name' } %>
          <%= f.input_field :email,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: 'email' } %>
          <div class="user__birthdate">
            <%= f.input_field :date_of_birth,
                                start_year: Date.today.year - 100,
                                end_year: Date.today.year,
                                required: true,
                                autofocus: true %>
          </div>
          <%= f.input      :pronouns,
                            autofocus: true,
                            input_html: { autocomplete: 'pronouns' } %>
          
          <%= f.label       :address, class: 'user__address-label' %>
          <div class="user__address">
            <%= f.input       :address,
                              label: false,
                              input_html: { data: { address_autocomplete_target: "address"}, class: 'display-none' },
                              wrapper_html: { data: { controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"] }} %>
            <div class="user__address-street">
              <%= f.label       :street %>
              <%= f.text_field  :street,
                                required: true,
                                value: @user.street,
                                autofocus: true %>
            </div>
            <div class="user__address-city">
              <%= f.label       :zipcode %>
              <%= f.text_field  :zipcode,
                                required: true,
                                value: @user.zipcode,
                                autofocus: true %>
              <%= f.label       :city %>
              <%= f.text_field  :city_id,
                                as: :string,
                                value: @user.city.try(:name),
                                label: 'City',
                                required: true,
                                autofocus: true %>
            </div>
            <div class="user__address-country">
              <%= f.label       :country %>
              <%= f.text_field  :country_id,
                                as: :string,
                                value: @user.country.try(:name),
                                required: true,
                                boolean_style: :inline,
                                autofocus: true %>
            </div>
          </div>
          
          <%= f.label       :about_me %>
          <%= f.input_field :summary,
                            required: true,
                            autofocus: true %>

          <%= f.label :characteristics %>
          <div class="user__characteristics">
            <%= simple_fields_for :user_characteristic do |ucf| %>
              <%= ucf.collection_check_boxes :characteristic_ids,
                                            Characteristic.all,
                                            :id, :name,
                                            checked: @user.characteristic_ids,
                                            input_html: { multiple: true, autocomplete: 'characteristics' } %>
            <% end %>
          </div>

          <%= f.label :i_offer %>
          <div class="user__offers">
            <div class="user__offer">
              <%= f.input_field     :offers_couch,
                                    autofocus: true %>
              <%= image_tag('icons/sleep') %>
              <%= f.label           :couch %>
            </div>
            <div class="user__offer">
              <%= f.input_field     :offers_co_work,
                                    autofocus: true %>
              <%= image_tag('icons/work') %>
              <%= f.label           :co_working %>
            </div>
            <div class="user__offer">
              <%= f.input_field     :offers_hang_out,
                                    autofocus: true %>
              <%= image_tag('icons/hangout') %>
              <%= f.label           :hangout %>
            </div>
          </div>

          <div class="user__couch">
            <%= simple_fields_for   :couch do |cf| %>
              <div class="user__couch-capacity">
                <%= cf.label          :i_can_host %>
                <%= cf.input_field    :capacity,
                                      collection: 1..4,
                                      autofocus: true,
                                      selected: @user.couch.capacity,
                                      input_html: { autocomplete: 'capacity' } %>
                <%= cf.label          :guests %>
              </div>
            <%= cf.label                       :my_couch_comes_with %>
            <div class="user__couch-facilities">
              <%= simple_fields_for            :couch_facility do |cff| %>
                <%= cff.collection_check_boxes :facility_ids,
                                               Facility.all, :id, :name,
                                               checked: @user.couch.facility_ids,
                                               input_html: { multiple: true },
                                               autofocus: true %>
              <% end %>
            </div>
            <% end %>
          </div>

            <%= f.label       :this_makes_me_really_happy %>
            <%= f.input_field :question_one,
                              required: true,
                              autofocus: true %>
            <%= f.label       :what_i_cant_stand %>
            <%= f.input_field :question_two,
                              required: true,
                              autofocus: true %>
            <%= f.label       :tell_us_what_you_need_and_like %>
            <%= f.input_field :question_three,
                              required: true,
                              autofocus: true %>
            <%= f.label       :when_you_live_at_my_place_i_appreciate %>
            <%= f.input_field :question_four,
                              required: true,
                              autofocus: true %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.label       :change_password,
                        class: 'user__password-change' %>
      <%= f.input       :password,
                        hint: "leave it blank if you don't want to change it",
                        required: false,
                        input_html: { autocomplete: "new-password" } %>
      <%= f.input       :password_confirmation,
                        required: false,
                        input_html: { autocomplete: "new-password" } %>
      <%= f.input       :current_password,
                        hint: "we need your current password to make changes",
                        input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="user__submit">
      <%= f.button :submit, "Update" %>
    </div>
  <% end %>

  <div class="user__cancel">
    <p>Unhappy?</p>
    <%= link_to 'Delete account', registration_path(resource_name), data: { confirm: 'Are you sure?' }, method: :delete, class: 'user__cancel-link' %>
  </div>
</section>